-
	var _team = [
		[
			'team/team-1.png',
			'Улькина Татьяна Андреевна',
			'Главный врач, 1000+ сложных и успешных операций. Идейный вдохновитель клиники.',
			'Стоматолог-терапевт﻿',
			'10 лет',
			[
				'upload/cert/cert-1.jpg',
				'upload/cert/cert-2.jpg',
				'upload/cert/cert-3.png'
			]
		],
		[
			'team/team-2.png',
			'Дарнотук Полина Сергеевна',
			'Справляется со сложнейшими случаями, всегда качественно лечит и ответственна в работе.',
			'Стоматолог-эндодонтист',
			'10 лет',
			[
				'upload/cert/cert-4.png',
				'upload/cert/cert-5.png',
				'upload/cert/cert-6.png'
			]
		],
		[
			'team/team-3.png',
			'Исмаилов Мухаммед Камильевич',
			'Один из лучших специалистов в ортодонтии. Лечит патологии прикуса и сустава. ',
			'Стоматолог–ортодонт',
			'10 лет',
			[
				'upload/cert/cert-1.jpg',
				'upload/cert/cert-2.jpg',
				'upload/cert/cert-3.png'
			]
		],
		[
			'team/team-4.png',
			'Бурнашева Яна Николаевна',
			'Отзывчивый, внимательный и опытный специалист.',
			'Стоматолог–ассистент',
			'20 лет',
		],
		[
			'team/team-5.png',
			'Валов Антон Андреевич',
			'Помогает в решении всех вопросов',
			'Директор по развитию',
			'10 лет',
		],
		[
			'team/team-6.png',
			'Мария Строкова Михайловна',
			'Помогает в решении всех вопросов',
			'Администратор',
			'10 лет',
		],
	]
