- 
	var _prices = [
		//- [
		//- 	'Диагностика и консультация',
		//- 	[
		//- 		'',
		//- 		[
		//- 			[
		//- 				'Первичная консультация и составление плана лечения',
		//- 				'300 ₽'
		//- 			],
		//- 			[
		//- 				'Компьютерная 3D томография с записью на диск',
		//- 				'300 ₽'
		//- 			],
		//- 			[
		//- 				'Визиографический снимок 1-го зуба',
		//- 				'300 ₽'
		//- 			],
		//- 			[
		//- 				'Вид исследования',
		//- 				'300 ₽'
		//- 			],
		//- 		]
		//- 	]
		//- ],
		[
			'КОНСУЛЬТАЦИЯ И ДИАГНОСТИКА',
			[
				[
					'Первичный осмотр',
					[
						[
							'Первичный прием (осмотр, консультация) врача терапевта',
							'500 руб.'
						],
						[
							'Первичный осмотр и консультация ортодонта',
							'600 руб.'
						],
						[
							'Прицельный снимок взрослый/детский',
							'200/350 руб.'
						],
					]
				]
			]
		],
		[
			'ТЕРАПИЯ',
			[
				[
					'Лечение кариеса',
					[
						[
							'Малоинвазивное лечение кариеса (ICON)',
							'2 500 руб.'
						],
						[
							'Поверхностный',
							'3 500 руб.'
						],
						[
							'Средний',
							'4 000 – 4 500 руб.'
						],
						[
							'Глубокий',
							'5 000 – 5 500 руб.'
						],
						[
							'Глубокий с прим. Са-содержащей подкладки',
							'6 000 руб.'
						],
						[
							'Использование микроскопа, за час',
							'0 руб.'
						],
					]
				],
				[
					'Лечение пульпита/периодонтита',
					[
						[
							'1 к/к зуб',
							'3 500/3 500'
						],
						[
							'2 к/к зуб',
							'4 000/4 000'
						],
						[
							'3 к/к и более зуб',
							'4 500/4 500'
						],
						[
							'Использование микроскопа, за час',
							'0 руб.'
						],
					]
				],
				[
					'Перелечивание каналов',
					[
						[
							'1 к/к зуб',
							'5 000 руб.'
						],
						[
							'2 к/к зуб',
							'6 300 руб.'
						],
						[
							'3 к/к и более зуб',
							'7 300 руб.'
						],
						[
							'Использование микроскопа, за час',
							'0 руб.'
						],
					]
				],
				[
					'Восстановление',
					[
						[
							'Восстановление зуба в зоне улыбки',
							'5 000 - 7 000 руб.'
						],
						[
							'Восстановление коронковой части композитной пломбой',
							'2500/3500/4000 руб.'
						],
						[
							'Восстановление коронковой части Build Up',
							'4000/5000 руб.'
						],
					]
				],
			]
		],
		[
			'ПРОФЕССИОНАЛЬНАЯ ГИГИЕНА',
			[
				[
					'',
					[
						[
							'Пародонтологическая чистка',
							'6 000 руб.'
						],
						[
							'Профессиональная гигиена',
							'3 000руб.'
						],
						[
							'Профессиональное отбеливание системой ZOOM4',
							'21 000 руб.'
						],
						[
							'Домашнее отбеливание (каппы, отбеливающий гель + укрепляющий гель)',
							'10 000 руб.'
						],
						[
							'Профессиональная гигиена с брекет-системой',
							'4 000 руб.'
						],
						[
							'Отбеливание системой ZOOM QuickPro 1 челюсть',
							'4 500 руб'
						],
						[
							'Гигиена ультразвук + минерализация',
							'1 500 руб.'
						],
						[
							'Гигиена AirFlow + полировка пастой',
							'2 500 руб.'
						],
						[
							'Изготовление индивидуальных капп для ремотерапии, отбеливания',
							'2 000 руб.'
						],
						[
							'Внутрикоронковое отбеливание первая процедура',
							'2 500 руб.'
						],
						[
							'Внутрикоронковое отбеливание 2-я и следующая процедуры',
							'1 500 руб.'
						],
						[
							'Покрытие десенситайзером одного сегмента челюсти',
							'500 руб.'
						],
						[
							'Покрытие десенситайзером одного зуба',
							'100 руб.'
						],
						[
							'Реминерализация зубов (1 челюсть)',
							'500 руб.'
						],
					]
				],
			]
		],
		[
			'ПАРОДОНТОЛОГИЯ',
			[
				[
					'',
					[
						[
							'Шинирование 6 зубов при заболевании пародонта',
							'6 000-10 000 руб.'
						],
						[
							'Забор ССТ/СДТ',
							'5 000-10000 руб.'
						],
						[
							'Работа аппаратом Vector 1 челюсть',
							'13 000 руб.'
						],
						[
							'Лоскутная операция 1 сегмент (до 7 зубов)',
							'10 000р.'
						],
					]
				],
			]
		],
		[
			'Хирургия',
			[
				[
					'',
					[
						[
							'Удаление постоянного зуба (простое)',
							'2 500 руб.'
						],
						[
							'Удаление постоянного зуба (средней сложности)',
							'4 000 руб.'
						],
						[
							'Удаление постоянного зуба (сложное)',
							'4 500 руб.'
						],
						[
							'Удаление ретенированного зуба',
							'25 000 руб.'
						],
						[
							'-I степени сложности',
							'5 000 руб.'
						],
						[
							'-II степени сложности',
							'7 000 руб.'
						],
						[
							'Вскрытие абсцесса',
							'1 500 руб.'
						],
						[
							'Резекция верхушки корня',
							'7 000 руб.'
						],
						[
							'Лечение перикоронорита(иссечение капюшена)',
							'2 000 руб.'
						],
						[
							'Лечение альвеолита первое посещение',
							'3 000 руб.'
						],
						[
							'Лечение альвеолита за каждое посещение',
							'1 500 руб.'
						],
						[
							'Консервация лунки удаленного зуба перед операцией имплантации',
							'12 000 руб'
						],
						[
							'Апикальная хирургия',
							'20 000-30 000 руб.'
						],
					]
				],
			]
		],
		[
			'ОРТОПЕДИЯ',
			[
				[
					'',
					[
						[
							'Коронка из диоксид-циркония',
							'25 000 руб.'
						],
						[
							'Коронка из металлокерамики',
							'17 000 руб.'
						],
						[
							'Коронка EMAX безметалловая',
							'25 000 руб.'
						],
						[
							'Временная коронка лабораторный метод',
							'3 000 руб.'
						],
						[
							'Временная коронка прямой метод',
							'1 000-3 000 руб.'
						],
						[
							'Вкладка металлическая',
							'6 000 руб.'
						],
						[
							'Вкладка прямой метод',
							'5 000 руб.'
						],
						[
							'Вкладка EMAX',
							'20 000 руб.'
						],
						[
							'Виниры',
							'25 000 руб.'
						],
						[
							'Виниры/Ультраниры на рефракторе',
							'35 000 руб.'
						],
					]
				],
				[
					'Полный съемный протез',
					[
						[
							'Акриловый',
							'25 000 руб.'
						],
						[
							'Ivocap',
							'35 000 руб.'
						],
						[
							'Acry-Free',
							'35 000 руб.'
						],
					]
				],
				[
					'Частично съемный протез',
					[
						[
							'Impro',
							'25 000-35 000 руб.'
						],
						[
							'Anyone',
							'25 000-30 000 руб.'
						],
						[
							'Ankylos',
							'30 000-45 000 руб.'
						],
						[
							'Индивидуальный абатмент из титана, Co-Cr, Cad/Cam',
							'13 000 руб.'
						],
						[
							'Индивидуальный абатмент из ДЦ с титановым основанием',
							'16 000 руб.'
						],
					]
				],
				[
					'Постоянное протезирование на балке',
					[
						[
							'Акриловый',
							'Цена по запросу'
						],
						[
							'Цельный цирконий',
							'Цена по запросу'
						],
						[
							'Металлокомпозит',
							'Цена по запросу'
						],
						[
							'Цирконий с отдельными EMAX коронками',
							'Цена по запросу'
						],
					]
				],
				[
					'Протезирование на аттачментах',
					[
						[
							'Акрил',
							'Цена по запросу'
						],
						[
							'Ivocap',
							'Цена по запросу'
						],
						[
							'Acry free',
							'Цена по запросу'
						],
					]
				],
				[
					'Временные',
					[
						[
							'Временный протез на имплантах',
							'Цена по запросу'
						],
						[
							'Временные коронки на импланте',
							'8 000 руб.'
						],
					]
				],
			]
		],
		[
			'ИМПЛАНТАЦИЯ И КОСТНАЯ ПЛАСТИКА',
			[
				[
					'',
					[
						[
							'Система Adin (Израиль)',
							'20 000 руб.'
						],
						[
							'Система AnyOne (Корея)',
							'25 000 руб.'
						],
						[
							'Система Ankylos (Германия)',
							'30 000 руб.'
						],
						[
							'Система Impro (Германия)',
							'25 000 руб.'
						],
						[
							'Применение хирургического шаблона на один зуб',
							'5 000 руб.'
						],
						[
							'Применение костного скребка',
							'8 000 руб.'
						],
						[
							'Костная пластика',
							'От 10 000 руб.+костный материал +мембрана'
						],
						[
							'Гингивэктомия 1 зуб',
							'500 руб.'
						],
						[
							'Гингивопластика Апекально Смещенным лоскутом',
							'2 500 руб.'
						],
						[
							'Пластика уздечек',
							'4 000 руб.'
						],
						[
							'Забор ССТ/СДТ',
							'5 000р -10000руб'
						],
					]
				],
				[
					'Применение костного материала Сerabone',
					[
						[
							'0. 5 мл.',
							'6 000 руб.'
						],
						[
							'1 мл.',
							'7 000 руб.'
						],
						[
							'2 мл.',
							'12 000 руб.'
						],
						[
							'5 мл.',
							'21 000 руб.'
						],
					]
				],
				[
					'Синуслифтинг',
					[
						[
							'Закрытый',
							'10 000 руб.'
						],
						[
							'Открытый',
							'25 000 руб. + мембрана + костный материал'
						],
					]
				],
				[
					'Применение мембраны Jason',
					[
						[
							'- 15x20',
							'9 000 руб.'
						],
						[
							'- 20x30',
							'12 000 руб.'
						],
						[
							'- 30x40',
							'17 000 руб.'
						],
					]
				],
			]
		],
		[
			'ДЕТСКАЯ СТОМАТОЛОГИЯ',
			[
				[
					'ОБЩИЕ УСЛУГИ',
					[
						[
							'Прием врача стоматолога-детского первичный',
							'500 руб.'
						],
						[
							'Рентген снимок ребенку',
							'350 руб.'
						],
						[
							'Анестезия аппликационная ребенку',
							'250 руб.'
						],
						[
							'Анестезия инъекционная ребенку',
							'550 руб.'
						],
						[
							'Анестезия дополнительная ребенку',
							'300 руб.'
						],
					]
				],
				[
					'ЛЕЧЕНИЕ ПУЛЬПИТА ВРЕМЕННЫХ ЗУБОВ',
					[
						[
							'Наложение девитализирующей пасты и временной пломбы',
							'2 000 руб.'
						],
						[
							'Пломбировка каналов и постановка постоянной пломбы',
							'4 500 руб.'
						],
						[
							'Пломбировка каналов и восстановление зуба металлической коронкой',
							'6 000 руб.'
						],
						[
							'Восстановление зуба металлической коронкой',
							'5 000 руб.'
						],
						[
							'Лечение пульпита временного зуба в 1 посещение',
							'5 000 руб.'
						],
					]
				],
				[
					'ПРОФЕССИОНАЛЬНАЯ ГИГИЕНА ПОЛОСТИ РТА',
					[
						[
							'Молочном прикусе детям до 6 лет',
							'2 000 руб.'
						],
						[
							'В сменном прикусе детям с 7 лет',
							'2 500 руб.'
						],
						[
							'В постоянном прикусе детям с 15 лет',
							'3 000 руб.'
						],
					]
				],
				[
					'ТЕРАПИЯ',
					[
						[
							'Лечение кариеса временного зуба 1 поверхность',
							'2 000 руб.'
						],
						[
							'Лечение кариеса временного зуба 2 поверхности',
							'2 500 руб.'
						],
						[
							'Лечение кариеса временного зуба 3 поверхности',
							'3 000 руб.'
						],
						[
							'Глубокое фторирование 1 зуба',
							'150 руб.'
						],
					]
				],
				[
					'ХИРУРГИЯ (БЕЗ АНАСТЕЗИИ)',
					[
						[
							'Удаление временного зуба простое',
							'1 000 руб.'
						],
						[
							'Удаление временного зуба среднее',
							'1 500 руб.'
						],
						[
							'Удаление временного зуба сложное',
							'2 500 руб.'
						],
						[
							'Вскрытие абсцесса',
							'1 000 руб.'
						],
					]
				],
				[
					'ХИРУРГИЯ (ВРЕМЕННЫЕ ЗУБЫ)',
					[
						[
							'Дренирование и медицинская обработка раны ребенку',
							'750 руб.'
						],
						[
							'Герметизация постоянного зуба',
							'1500 руб.'
						],
						[
							'Герметизация временного зуба',
							'1000 руб.'
						],
					]
				],
			]
		],
		[
			'ОРТОДОНТИЯ',
			[
				[
					'КОНСУЛЬТАЦИЯ, ДИАГНОСТИКА',
					[
						[
							'Первичный осмотр и консультация',
							'600 руб.'
						],
						[
							'Диагностика стоматолога – ортодонта',
							'3 000 руб.'
						],
						[
							'Контрольный осмотр с ретейнером',
							'1 000 руб.'
						],
						[
							'Контрольный осмотр с брекетами',
							'1 000 руб.'
						],
						[
							'Контрольный осмотр с эластопозиционером',
							'500 руб.'
						],
						[
							'Диагностика при помощи аквалайзера',
							'10 000 руб.'
						],
					]
				],
				[
					'УСТАНОВКА БРЕКЕТ-СИСТЕМЫ НА 1 ЧЕЛЮСТЬ',
					[
						[
							'H-4',
							'45 000р.'
						],
						[
							'Damon Q',
							'50 000р.'
						],
						[
							'Damon clear + Q',
							'55 000р.'
						],
						[
							'Damon Clear',
							'60 000р.'
						],
					]
				],
				[
					'СНЯТИЕ БРЕКЕТ-СИСТЕМ, РЕТЕЙНЕР',
					[
						[
							'Снятие брекетов, шлифовка, полировка зубов и установка ретейнера',
							'10 000р.'
						],
						[
							'Установка несъемного ретейнера (на 1 челюсть)',
							'5 500р.'
						],
						[
							'Повторная фиксация брекета',
							'1 000р.'
						],
						[
							'Активация брекет-системы 1 челюсть',
							'2 000р.'
						],
					]
				],
				[
					'ЛЕЧЕНИЕ С ПОМОЩЬЮ АППАРАТОВ',
					[
						[
							'Установка одночелюстного аппарата',
							'15 000р.'
						],
						[
							'Установка двухчелюстного аппарата',
							'24 000р.'
						],
						[
							'Установка эластопозиционера',
							'15 000р.'
						],
						[
							'Активация двухчелюстного аппарата',
							'1 500р.'
						],
						[
							'Активация одночелюстного аппарата',
							'1 000р.'
						],
						[
							'Установка несъемного аппарата для раскрытия небного шва',
							'25 000р.'
						],
						[
							'Установка небного бюгеля',
							'10 000р.'
						],
					]
				],
				[
					'ДОПОЛНИТЕЛЬНО',
					[
						[
							'Активация внутриротовых дополнительных приспособлений',
							'1 500р.'
						],
						[
							'Активация эластической цепочки и эластических лигатур',
							'1 500р.'
						],
						[
							'Установка ортодонтического минивинта (хирургия)',
							'7 000р.'
						],
					]
				],
				[
					'ЭЛАЙНЕРЫ FLEXILIGNER',
					[
						[
							'3d диагностика, снятие слепков , составление плана, визуализация',
							'35 000 руб.'
						],
						[
							'Лечение одной зубной дуги:',
							''
						],
						[
							'• Quick-One (3d моделирование, изготовление элайнеров от 1-5)',
							'25 000 руб.'
						],
						[
							'• Easy-One (3d моделирование, изготовление элайнеров от 6-10)',
							'65 000 руб.'
						],
						[
							'• Light-One (3d моделирование, изготовление элайнеров от 11-16)',
							'115 000 руб.'
						],
						[
							'• Extra-One (3d моделирование, изготовление элайнеров от 17-32)',
							'155 000 руб.'
						],
						[
							'• Pro-One (3d моделирование, изготовление элайнеров от 33)',
							'175 000 руб.'
						],
						[
							'Лечение двух зубных дуг',
							''
						],
						[
							'• Quick (3d моделирование, изготовление элайнеров от 1-5)',
							'55 000 руб.'
						],
						[
							'• Easy (3d моделирование, изготовление элайнеров от 6-10)',
							'125 000 руб.'
						],
						[
							'• Light (3d моделирование, изготовление элайнеров от 11-16)',
							'155 000 руб.'
						],
						[
							'• Extra (3d моделирование, изготовление элайнеров от 17-32)',
							'225 000 руб.'
						],
						[
							'• Pro (3d моделирование, изготовление элайнеров от 33)',
							'295 000 руб.'
						],
						[
							'• Восстановление утерянного элайнера',
							'5 000 руб.'
						],
						[
							'• Контрольный осмотр',
							'2 000 руб.'
						],
					]
				],
				[
					'ЭЛАЙНЕРЫ KIDSLIGNER (флексики)',
					[
						[
							'Диагностика, орто-чек (одна дуга, 1 шаг — 3 флексика)',
							'13 000 руб.'
						],
						[
							'• Kids Light - изготовление элайнеров от 1 до 4 шагов',
							'25 000 руб.'
						],
						[
							'• Kids Middle - изготовление элайнеров от 5 до 6 шагов',
							'43 000 руб.'
						],
						[
							'• Kids Full - изготовление элайнеров от 7 до 8 шагов',
							'63 000 руб.'
						],
						[
							'Диагностика, орто-чек (две дуги, 1 шаг — 6 флексиков)',
							'25 000 руб.'
						],
						[
							'• Kids Light - изготовление элайнеров от 1 до 4 шагов',
							'51 000 руб.'
						],
						[
							'• Kids Middle - изготовление элайнеров от 5 до 6 шагов',
							'87 000 руб.'
						],
						[
							'• Kids Full - изготовление элайнеров от 7 до 8 шагов',
							'127 000 руб.'
						],
					]
				],
			]
		],
	]
