- 
	var _prices = [
		[
			'Диагностика и консультация',
			[
				[
					'Первичная консультация и составление плана лечения',
					'300 ₽'
				],
				[
					'Компьютерная 3D томография с записью на диск',
					'300 ₽'
				],
				[
					'Визиографический снимок 1-го зуба',
					'300 ₽'
				],
				[
					'Вид исследования',
					'300 ₽'
				],
			]
		],
		[
			'Отбеливание зубов',
		],
		[
			'Профессиональная гигиена',
		],
		[
			'Имплантация',
		],
		[
			'Ортопедия',
		],
		[
			'Хирургия',
		],
		[
			'Костная пластика',
		],
		[
			'Пародонтология',
		],
		[
			'Ортодонтия',
		],
		[
			'Детская стоматология',
		],
	]
