-
	var _problems = [
		[
			'problem-1.png',
			'Сколы, трещины зубов или пломб'
		],
		[
			'problem-2.png',
			'Большие по площади старые реставрации, <br>не поддающиеся переделке'
		],
		[
			'problem-3.png',
			'Потемнения и пигментация зубов'
		],
		[
			'problem-4.png',
			'Щели (диастемы,тремы)'
		],
		[
			'problem-5.png',
			'Выраженная скученность зубов'
		],
		[
			'problem-6.png',
			'Аномальные размеры и неправильное <br>положение челюстей/зубов'
		],
		[
			'problem-7.png',
			'Мезиальный прикус (нижняя челюсть <br>выдвинута вперед)'
		],
		[
			'problem-8.png',
			'Открытый прикус (несмыкание передних <br>верхних и нижних зубов)'
		],
		[
			'problem-9.png',
			'Повышенная стираемость зубов'
		],
		[
			'problem-10.png',
			'Пятна на поверхности, появление полости, <br>болезненность, неприятный запах изо рта',
			'Кариес'
		],
		[
			'problem-11.png',
			'Боль, усиливающаяся при накусывании, реакция <br>на холодное и горячее, отёк и припухлость дёсен',
			'Пульпит'
		],
		[
			'problem-12.png',
			'Боль при накусывании, реакция на горячее,<br>отек и припухлость десен. – похоже на пульпит',
			'Периодонтит'
		],
		[
			'problem-13.png',
			'Оголение корней зубов, расшатывание зубов, <br>выпадение зубов, абсцессы- «нагноение» десны',
			'Пародонтит'
		],
		[
			'problem-14.png',
			'Зубные отложения, мягкий и твердый налет <br>на зубах, кровоточивость десен, запах изо рта, <br>боль при чистке',
			'Гингивит'
		],
		[
			'problem-15.png',
			'Боль при накусывании, выпадение <br>пломбы, боль от холодного, горячего',
			'Трещина коронки/корня'
		],
		[
			'problem-16.png',
			'Изменение цвета десны, покраснение, <br>припухлость, запах изо рта, затрудненное <br>открывание, затруднительное глотание, <br>чувство давления на соседние зубы',
			'Прорезывание зуба «мудрости»'
		],
	]
