-
	var _portfolio = [
		[
			'veneers/portfolio-veneers-1-1.jpg',
			'veneers/portfolio-veneers-1-2.jpg',
			'<p>Пациент обратился с жалобами на темный цвет зубов, особенно переднего.</p><p>Провели отбеливание zoom4 всех зубов , получили естественный белый цвет зубов и под него провели микропротезирование переднего зуба виниром emax,идеально подходящий по форме и цвету</p>'
		],
		[
			'veneers/portfolio-veneers-2-1.jpg',
			'veneers/portfolio-veneers-2-2.jpg',
			'<p>Пациентка обратилась с жалобами на темный цвет зубов,их неправильное положение и большие старые реставрации,изменённые в цвете. По личным соображениям пациентка отказалась от ортодонтии.</p><p>Принято решение и проведено микропротезирование керамическими винирами emax цвет BL3, в результате получена красивая улыбка с ровными белыми зубами.</p>'
		],
		[
			'veneers/portfolio-veneers-3-1.jpg',
			'veneers/portfolio-veneers-3-2.jpg',
			'<p>Пациент обратился с целью реабилитации улыбки. </p><p>Проведено эндодонтическое перелечивание переднего потемневшего зуба 2.1 , отбеливание zoom4 всех зубов и протезированием переднего зуба  2.1 керамической коронкой emax под цвет отбелённых зубов</p>'
		],
		[
			'veneers/portfolio-veneers-4-1.jpg',
			'veneers/portfolio-veneers-4-2.jpg',
			'<p>Пациентка обратилась с жалобами на темный цвет зубов и несостоятельность старых пломб на передних зубах. Проведено отбеливание zoom4 и заменены пломбы, то есть прямые виниры на двух фронтальных зубах 1.1 и 2.1 на новые прямые композитные виниры Enamel HRi</p>'
		],
		[
			'veneers/portfolio-veneers-5-1.jpg',
			'veneers/portfolio-veneers-5-2.jpg',
			'<p>Пациентка обратилась с жалобами на неудовлетворительных внешний вид зубов.</p><p>Проведена эндодонтическое перелечивание зубов,отбеливание zoom4 нижних зубов и протезирование керамическими винирами emax  цвета BL2  для восстановления формы и цвета зубов верхних зубов</p>'
		],
		[
			'veneers/portfolio-veneers-6-1.jpg',
			'veneers/portfolio-veneers-6-2.jpg',
			'<p>Пациентка обратилась с жалобами на неудовлетворительную форму и цвет зубов.</p><p>Проведено микропротезирование керамическими ультранирами emax цвета BL1</p>'
		],
		[
			'veneers/portfolio-veneers-7-1.jpg',
			'veneers/portfolio-veneers-7-2.jpg',
			'<p>Пожелание пациентки-улучшение эстетики улыбки.</p><p>Проведено отбеливание zoom4,внутрикоронковое отбеливание зуба переднего зуба 2.1 и его микропротезирование керамическим виниром emax под цвет отбелённых зубов</p>'
		],
		[
			'veneers/portfolio-veneers-8-1.jpg',
			'veneers/portfolio-veneers-8-2.jpg',
			'<p>Пациент обратился с просьбой восстановит эстетику улыбки.</p><p>Проведено отбеливание zoom 4 и замена старой пломбы на правом резце-зуб 1.1 на новый композитный материал Enamel HRi и замена обширной реставрации на левом переднем резце -зуб 2.1 на керамическую коронку emax под цвет отбеленнных зубов</p>'
		],
	]
