- 
	var _why = [
		[
			'why/why-1.png', 
			'Лечение под микроскопом', 
			'<p>100% точность при лечении – обрабатываем <br>только кариозные ткани зуба, сохраняя <br>максимальное количество своих здоровых<br>(интактных) тканей</p><p class="--sm">Например: это минимально – инвазивная (щадящая) обработка кариозной полости зуба с гарантированным сохранением здоровых тканей зуба</p>'
		],
		[
			'why/why-2.png', 
			'Комфорт пациента на первом месте', 
			'<p>Вас всегда встретит приветливый <br>администратор, предложит чай или кофе. <br>Для детей есть детский уголок, в котором <br>ребенку тоже будет комфортно и интересно.<br>Приборы гигиены: щетки, пасты в каждой <br>уборной чтобы вы смогли подготовиться к приёму</p>'
		],
		[
			'why/why-3.png', 
			'100% стерильность', 
			'<p>Все применяемые при лечении инструменты <br>и материалы на 100% стерильны. Они либо <br>проходят качественную 4-х ступенчатую <br>стерилизацию, либо являются одноразовыми. <br>Мы заботимся о Вашей безопасности.</p>'
		],
		[
			'why/why-4.png', 
			'Высокие стандарты  лечения', 
			'<p>Наши врачи следят за всеми новинками <br>и тенденциями в области стоматологии, <br>постоянно повышая квалификацию, посещая <br>тренинги и семинары, как в России, <br>так и за рубежом.</p>'
		],
		[
			'why/why-5.png', 
			'Современные материалы 2020 года', 
			'<p>Мы следим за последними техническими <br>новинками и сотрудничаем с самыми <br>известными фирмами-производителями <br>стоматологической продукции</p>'
		],
		[
			'why/why-6.png', 
			'Спасение, а не замена зуба', 
			'<p>Мы применяем самые современные <br>зубосохраняющие технологии и всегда <br>стараемся спасти Ваши родные зубы</p>'
		],
		[
			'why/why-7.png', 
			'Лечение без боли', 
			'<p>Вы не почувствуете каких-либо острых <br>болезненных ощущений во время проведения <br>лечения</p>'
		],
		[
			'why/why-8.png', 
			'Только честные цены', 
			'<p>При первичной консультации для Вас <br>формируется план лечения, цены которого <br>остаются неизменными на протяжении <br>всего лечения.</p>'
		],
		[
			'why/why-9.png', 
			'Максимально безопасный рентген', 
			'<p>В каждом кабинете есть рентген визиограф, <br>и Вам не придётся вставать с кресла <br>при проведении диагностики</p>'
		],
		[
			'why/why-10.png',
			'Собственная зуботехническая лаборатория',
			'<h4>Пациенту это гарантирует:</h4><ul><li>Высокое качество протеза;</li><li>Постоянный контроль зубного техника <br>лечащим врачем и работа "в паре";</li><li>Максимальную скорость изготовления протезов</li><li>Оперативно корректировать улыбку в процессе разработки;</li></ul>'
		],
		[
			'why/why-11.png',
			'Digital Smile Design',
			'<p>Пациент сможет заранее увидеть свою будущую <br>улыбку без каких либо вмешательств в ротовую <br>полость, что исключает неудовлетворенность <br>результатом. Сможет сразу спланировать цвет, <br>размер, форму зубов.</p>'
		],
		[
			'why/why-1.png', 
			'Лечение под микроскопом', 
			'<p>100% точность при лечении – обрабатываем <br>только кариозные ткани зуба, сохраняя <br>максимальное количество своих здоровых<br>(интактных) тканей</p>'
		],
	]
