-
	var _process = [
		[
			'process-1.jpg',
			'Бесплатная консультация',
			'<ul><li>Собираем анамнез;</li><li>Осмотр ротовой полости;</li><li>Фото-протокол полости;</li><li>Показываем проблемные зубы и рассказываем почему так произошло – причины;;</li><li>Составляем план лечения;</li></ul>'
		],
		[
			'process-2.jpg',
			'Компьютерное <br>моделирование улыбки (DSD)',
			'<ul><li>Моделирование будущей улыбки на компьютере <br>по технологии Digital Smile Design;</li><li>Согласовываем с пациентом будущую улыбку;</li></ul>'
		],
		[
			'process-3.jpg',
			'Восковое моделирование',
			'<ul><li>Зубной техник на гипсовых моделях моделирует <br>будущую улыбку с учетом всех пожеланий. </li><li>Моделировка переносится на зубы пациента и можно <br>провести «тест-драйв» будущей улыбки в течение <br>нескольких дней – показать родным и друзьям и принять <br>окончательное решение.</li></ul>'
		],
		[
			'process-4.jpg',
			'Обработка зубов, снятие <br>слепков',
			'<p>После утверждения формы и цвета будущих виниров доктор проводит под микроскопом малоинвазивную (минимальная обточка) обработку зубов и снимает оттиски для изготовления виниров.</p>'
		],
		[
			'process-5.jpg',
			'Примерка и фиксация виниров',
			'<p>Доктор проводит фиксацию виниров под микроскопом и пациент с новой идеальной улыбкой идёт в новую жизнь :)</p>'
		],
		[
			'process-6.jpg',
			'Лечение зуба',
			'<ul><li>Обезболивание зуба;</li><li>Открываем при Вас стерильный пакет с инструментами;</li><li>Удаление поврежденных тканей зуба;</li><li>Нанесение пломбировочного материала;</li><li>Тщательная проверка по прикусу: шлифуем и полируем <br>поверхность пломбы</li></ul><p><strong>Результат:</strong> восстановление функций, эстетики зубного ряда или одного зуба.</p>'
		],
		[
			'process-7.jpg',
			'Плановый осмотр',
			'<ul><li>Осмотр ротовой полости;</li><li>Выдача рекомендаций по дальнейшему уходу;</li></ul>'
		],
	]
