mixin panel(classes)
	div(class=classes)
		.case
			.panel__wrap.row.i-mid
				.panel__contacts
					.panel__address.address.row.i-mid
						.address__icon
							+icon('metro')
						.address__text м. Международная #[br]ул.Турку, д.13, корп.1
					.panel__time
						p Работаем ПН-СБ
						p c 10:00 до 21:00
				a.panel__logo.logo(href="")
					+img('logo.png')

				.panel__feedback
					.panel__call
						.panel__phone #[a(href="tel:+78121111111") +7 (812) 111-11-11]
						.panel__callback Заказать бесплатный звонок
					a.panel__consult.btn.--bg-blue.--sm() Записаться #[br]на консультацию
