mixin problem(img, text, title)
	.problems__item.problem
		.problem__img.img(style="background-image: url('upload/problems/" + img + "')")
		.problem__content
			if title
				.problem__title!=title
				.problem__text!=text
			else
				.problem__name.h4!=text
