mixin problem(img, text, title)
	.problems__item
		.problems__img.img(style="background-image: url('upload/problems/" + img + "')")
		.problems__content
			if title
				.problems__title!=title
				.problems__text!=text
			else
				.problems__name!=text
