mixin types-item(img, name, desc, text, data)
	.types__item
		.types__img.img(style="background-image: url('" + img + "')")
		.types__content
			.types__name.h3!=name
			.types__desc!=desc
			.types__text!=text
			.types__data
				ul
					each item in data
						li
							u=item[0]
							strong
								if item[1] == 'check'
									+icon('check')
								else if item[1] == 'cross'
									+icon('cross')
								else
									=item[1]
			a.types__btn.btn.--bg-blue.--shadow-blue.--lg(data-fancybox="" data-src="#popup-consult" href="javascript:;") Записаться на консультацию
