include mixins/panel
include mixins/img
include mixins/breadcrumbs
include mixins/service
include mixins/review
include mixins/rating-item
include mixins/why
include mixins/transparency
include mixins/will-heal
include mixins/shares-item
include mixins/page-title
include mixins/problem
include mixins/types-item
include mixins/help-item
