include mixins/icon
include mixins/panel
include mixins/img
include mixins/breadcrumbs
include mixins/service
include mixins/review
include mixins/rating-item
include mixins/why
include mixins/transparency
include mixins/will-heal
include mixins/shares-item
include mixins/page-title
include mixins/problem
include mixins/types-item
include mixins/help-item
include mixins/ti
include mixins/price-item
include mixins/now
include mixins/problems
include mixins/process
include mixins/swipe


//- blocks
include mixins/blocks/hello
