include _data
include _mixins
include _settings
include _paths
include _version

- var orderTitle = 'Сделаем диагностику <br>и составим план лечения'
- var orderSubtitle = 'Оставьте контактные данные и в ближайшее <br>время администратор свяжется с вами для записи'
- var orderImgMode = '--tatyana-ylkina'
- var orderInputColor = 'white'
- var priceListShow = true
- var priceText = false
- var nowImg    = 'employees/employee-4.png'
- var clinicBgGray = true
- var certificatesBgGray = false
- var servicesHead = true
- var qualificationBgGray = true
- var reviewsTitle = 'Отзывы пациентов'
- var reviewsSubtitle = 'о нашей стоматологии'
