include _data
include _mixins
include _settings
include _paths
include _version

- var orderTitle = 'Сделаем диагностику <br>и составим план лечения'
- var orderSubtitle = 'Оставьте контактные данные и в ближайшее время администратор свяжется с вами для записи'
- var priceListShow = true
- var priceText = false
- var nowImg    = 'employee/employee-1.png'
