
@font-face {
  font-family: 'IgraSans';
  src: url('IgraSans.eot?#iefix') format('embedded-opentype'),  url('IgraSans.woff') format('woff'), url('IgraSans.ttf')  format('truetype'), url('IgraSans.svg#IgraSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
