
@font-face {
  font-family: 'VinnytsiaSansReg';
  src: url('VinnytsiaSansReg.eot?#iefix') format('embedded-opentype'),  url('VinnytsiaSansReg.woff') format('woff'), url('VinnytsiaSansReg.ttf')  format('truetype'), url('VinnytsiaSansReg.svg#VinnytsiaSansReg') format('svg');
  font-weight: normal;
  font-style: normal;
}
