extend ../templates/main
append top
	- var title = "О клинике"

append content
	- 
		var breadcrumbs = [
			[
				'Главная',
				'main.html'
			],
			[
				'О клинике'
			]
		]
	include ../parts/about
	include ../parts/clinic
	include ../parts/certificates
	include ../parts/qualification

	- var whyList = [0,1,2,3,4,5,6,7,8]
	include ../parts/why

	include ../parts/transparency
	include ../parts/questions
