extend ../templates/main
append top
	- var title = "О клинике"

append content
	- 
		var breadcrumbs = [
			[
				'Главная',
				'main.html'
			],
			[
				'О клинике'
			]
		]
	include ../parts/about

	- var clinicBgGray = false
	include ../parts/clinic

	- var certificatesBgGray = true
	include ../parts/certificates

	- var qualificationBgGray = false
	include ../parts/qualification

	- var whyList = [0,1,2,3,4,5,6,7,8]
	include ../parts/why

	include ../parts/transparency
	include ../parts/questions
