extend ../templates/main
append top
	- var title = "Контакты"

append content
	- 
		var breadcrumbs = [
			[
				'Главная',
				'main.html'
			],
			[
				'Акции'
			]
		]

	.page.bg-gray
		.case
			+breadcrumbs('page__breadcrumbs breadcrumbs', breadcrumbs)
			.page__title.h2 Контакты стоматологии Доктор Стом


	include ../parts/map

	- var orderTitle = 'Запишитесь <br>на консультацию <br>к глав.врачу сейчас'
	- var orderClasses = 'bg-gray'
	- var orderInputColor = 'gray'
	include ../parts/order
