extend ../templates/main
append top
	- var title = ""

append content
	//- main
	.hello.img(style="background-image: url('')")
		.case
			.hello__wrap
				- 
					var breadcrumbs = [
						[
							'main.html',
							'Главная'
						],
						[
							''
						]
					]
				+breadcrumbs('hello__breadcrumbs breadcrumbs', breadcrumbs)
				.hello__title.h2 Семейная #[br]стоматология #[br]в Санкт-Петербурге
				.hello__subtitle.h3 Лечим детей и взрослых уже 10 лет
				form.hello__form.form.row.i-bottom.--mlr-sm
					.form__item.form__input.input.--bg-white.--lg.--icon.--w-md.--mlr-sm.--phone
						label.input__title Ваш номер телефона:
						.input__wrap
							input.input__area(type="tel" name="phone" value="")
							label.input__icon
					button.form__item.form__btn.btn.--bg-blue.--lg.--mlr-sm Записаться на консультацию
				.hello__text
				.hello__desc.desc
					.desc__list.row
						.desc__item
							.desc__title 1000+ пациентов #[br]и отзывов
							.desc__icon
								+img('')
						.desc__item
							.desc__title 100% безболезненность #[br]лечения
							.desc__icon
								+img('')
						.desc__item
							.desc__title Проводим все виды #[br]стоматологического лечения
							.desc__icon
								+img('')


				.hello__img.--women
					+img('')
					+img('')
					+img('')


	