extend ../templates/main
append top
	- var title = "Политика конфиленциальности"

append content
	- 
		var breadcrumbs = [
			[
				'Главная',
				'main.html'
			],
			[
				title
			]
		]

	.page.bg-gray
		.case
			+breadcrumbs('page__breadcrumbs breadcrumbs', breadcrumbs)
			.page__title.h2= title
			.page__text.text
				<p>В соответствии с требованиями статьи 9 федерального закона от 27.07.06 г. «О персональных данных» № 152-ФЗ, подтверждаю свое согласие на обработку уполномоченными сотрудниками ООО «Прогрессия», ОГРН&nbsp;1097847175535; 199155, РФ, Санкт-Петербург, ул. Уральская, дом 17, корп.3 лит.Е (далее — «Оператор») моих персональных данных с целью:</p>

				<ul>
					<li>оказания консультационных услуг;</li>
					<li>учета и хранения для персональной идентификации пользователя.</li>
				</ul>

				<p>При заходе на сайты d-stom.ru&nbsp;(далее – «Сайты»), в том числе при указании своих персональных данные в контактных формах и формах обратной связи в веб-сервисах «Задать вопрос», «Получить консультацию», «узнать больше»,«записаться на прием» Оператора, предоставляю Оператору право осуществлять все действия (операции) с моими персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных, включающих:</p>

				<ul>
					<li>фамилию, имя, отчество, пол, дату рождения;</li>
					<li>адрес регистрации и/или фактического проживания, контактный телефон (абонентский номер), адрес электронной почты, данные документа, удостоверяющего личность;</li>
					<li>источник захода на Сайты, в том числе&nbsp;данные об IP-адресе, местоположении, и информация поискового или рекламного запроса;</li>
					<li>данные о пользовательском устройстве (среди которых разрешение, версия и другие атрибуты, характеризующие пользовательское устройство);</li>
					<li>пользовательские клики, просмотры страниц, заполнения полей, показы и просмотры баннеров и видео;</li>
					<li>данные, характеризующие аудиторные сегменты;</li>
					<li>параметры сессии;</li>
					<li>данные о времени посещения;</li>
					<li>идентификатор пользователя, хранимый в cookie, для целей повышения осведомленности посетителей Сайтов о продуктах и услугах Оператора, предоставления релевантной рекламной информации и оптимизации рекламы.</li>
				</ul>

				<p>Оператор вправе обрабатывать мои персональные данные с использование средств автоматизации и(или) без таковых, посредством внесения их в электронную базу данных, включения в списки (реестры) и отчетные формы.</p>

				<p>Предоставляю право Оператору передавать мои персональные данные должностным лицам Оператора и третьим лицам, уполномоченным осуществлять обработку электронных баз данных Оператора при обязательном соблюдении условий о конфиденциальности обрабатываемых данных.</p>

				<p>Я оставляю за собой право отозвать свое согласие посредством составления соответствующего письменного документа, который может быть направлен мной в адрес Оператора по почте заказным письмом с уведомлением о вручении или на электронный адрес почты Оператора info@d-stom.ru.</p>

				<p>В случае получения моего заявления об отзыве настоящего согласия на обработку персональных данных, Оператор обязан прекратить их обработку.</p>

				<p>Настоящее согласие вступает в силу с момента моего перехода на Сайты и действует бессрочно.</p>

