extend ../templates/main
append top
	- var title = "Отзывы"

append content
	- 
		var breadcrumbs = [
			[
				'Главная',
				'main.html'
			],
			[
				'Отзывы'
			]
		]

	.feedback.img(style="background-image: url('upload/bgs/bg-hello-reviews.jpg')")
		.case
			.feedback__wrap
				+breadcrumbs('feedback__breadcrumbs breadcrumbs', breadcrumbs)
				.feedback__inner
					.feedback__title.h2 Отзывы #[br]о стоматологии #[br]Доктор Стом
					.feedback__content
						.feedback__subtitle.h3 Данная страница создана для получения #[br]обратной связи от Вас — наших пациентов. 
						.feedback__text.h4
							p Лучшая награда для нас — искренние отзывы и счастливые #[br]здоровые улыбки пациентов. 
							p Спасибо, что выбираете нас!
				.feedback__img
					+img('employees/employee-5.png')

	- var reviewsList  = false
	- var reviewsTitle = 'Видеоотзывы'
	- var reviewsSubtitle = undefined
	include ../parts/reviews

	.r-book.bg-gray
		.case
			.r-book__title.h2.tac Книга отзывов
			.r-book__subtitle.h3.tac Естественно, у нас в стоматологии есть книга отзывов и предложений. #[br]Приходите и убедитесь лично в качестве нашей работы.
			.r-book__list.row(data-el=".r-book__item" data-show="4")
				.r-book__item
					.r-book__img.img(style="background-image: url('upload/reviews/review-writen-1.jpg')")
					.r-book__content
						.r-book__data
							ul
								li
									u Пациент
									strong Елена
								li
									u Что сделали
									strong Лечение под микроскопом
						a.r-book__btn.btn.--bg-blue.--md(data-fancybox="r-book" data-src="upload/reviews/review-writen-1.jpg") Читать отзыв
				
				.r-book__item
					.r-book__img.img(style="background-image: url('upload/reviews/review-writen-2.jpg')")
					.r-book__content
						.r-book__data
							ul
								li
									u Пациент
									strong Елена
								li
									u Что сделали
									strong Лечение под микроскопом
						a.r-book__btn.btn.--bg-blue.--md(data-fancybox="r-book" data-src="upload/reviews/review-writen-2.jpg") Читать отзыв
				
				.r-book__item
					.r-book__img.img(style="background-image: url('upload/reviews/review-writen-1.jpg')")
					.r-book__content
						.r-book__data
							ul
								li
									u Пациент
									strong Елена
								li
									u Что сделали
									strong Лечение под микроскопом
						a.r-book__btn.btn.--bg-blue.--md(data-fancybox="r-book" data-src="upload/reviews/review-writen-1.jpg") Читать отзыв

				.r-book__item
					.r-book__img.img(style="background-image: url('upload/reviews/review-writen-2.jpg')")
					.r-book__content
						.r-book__data
							ul
								li
									u Пациент
									strong Елена
								li
									u Что сделали
									strong Лечение под микроскопом
						a.r-book__btn.btn.--bg-blue.--md(data-fancybox="r-book" data-src="upload/reviews/review-writen-2.jpg") Читать отзыв

				.r-book__item
					.r-book__img.img(style="background-image: url('upload/reviews/review-writen-1.jpg')")
					.r-book__content
						.r-book__data
							ul
								li
									u Пациент
									strong Елена
								li
									u Что сделали
									strong Лечение под микроскопом
						a.r-book__btn.btn.--bg-blue.--md(data-fancybox="r-book" data-src="upload/reviews/review-writen-1.jpg") Читать отзыв

				.r-book__item
					.r-book__img.img(style="background-image: url('upload/reviews/review-writen-2.jpg')")
					.r-book__content
						.r-book__data
							ul
								li
									u Пациент
									strong Елена
								li
									u Что сделали
									strong Лечение под микроскопом
						a.r-book__btn.btn.--bg-blue.--md(data-fancybox="r-book" data-src="upload/reviews/review-writen-2.jpg") Читать отзыв
			.r-book__more.more-btn
				.more-btn__icon
					+icon('refresh')
				.more-btn__text Показать еще
			+swipe('r-book__swipe', 'Проведите в сторону, чтобы <br>посмотреть все отзывы')
	.r-soc.bg-blue.c-white
		.case
			.r-soc__title.h2.tac Отзывы в социальных сетях
			.r-soc__list.row.chevrons.--white
				.r-soc__item
					.r-soc__img #[div.img(style="background-image: url('upload/reviews/review-social-1-item.jpg')")]
					.r-soc__user
						.r-soc__photo #[div.img(style="background-image: url('upload/reviews/review-social-1-persona.png')")]
						.r-soc__link #[a(href="https://instagram.com/volkova_mua" target="_blank") @volkova_mua]
				.r-soc__item
					.r-soc__img #[div.img(style="background-image: url('upload/reviews/review-social-2-item.jpg')")]
					.r-soc__user
						.r-soc__photo #[div.img(style="background-image: url('upload/reviews/review-social-2-persona.png')")]
						.r-soc__link #[a(href="https://instagram.com/taisiache" target="_blank") @taisiache]
				.r-soc__item
					.r-soc__img #[div.img(style="background-image: url('upload/reviews/review-social-3-item.jpg')")]
					.r-soc__user
						.r-soc__photo #[div.img(style="background-image: url('upload/reviews/review-social-3-persona.png')")]
						.r-soc__link #[a(href="https://instagram.com/evatwinn" target="_blank") @evatwinn]
				.r-soc__item
					.r-soc__img #[div.img(style="background-image: url('upload/reviews/review-social-1-item.jpg')")]
					.r-soc__user
						.r-soc__photo #[div.img(style="background-image: url('upload/reviews/review-social-1-persona.png')")]
						.r-soc__link #[a(href="https://instagram.com/volkova_mua" target="_blank") @volkova_mua]
				.r-soc__item
					.r-soc__img #[div.img(style="background-image: url('upload/reviews/review-social-2-item.jpg')")]
					.r-soc__user
						.r-soc__photo #[div.img(style="background-image: url('upload/reviews/review-social-2-persona.png')")]
						.r-soc__link #[a(href="https://instagram.com/taisiache" target="_blank") @taisiache]
				.r-soc__item
					.r-soc__img #[div.img(style="background-image: url('upload/reviews/review-social-3-item.jpg')")]
					.r-soc__user
						.r-soc__photo #[div.img(style="background-image: url('upload/reviews/review-social-3-persona.png')")]
						.r-soc__link #[a(href="https://instagram.com/evatwinn" target="_blank") @evatwinn]
			+swipe('r-soc__swipe', 'Проведите в сторону, чтобы <br>посмотреть все отзывы')

			
	include ../parts/rating


	- var orderBgImg = 'upload/bgs/bg-order.png'
	- var orderTitle = 'Запишитесь <br>на консультацию <br>к глав.врачу сейчас'
	- var orderImg   = 'employees/employee-7.png'
	- var orderImgMode = '--tatyana-ylkina-blue'
	
	include ../parts/order
