extend ../templates/main
append top
	- var title = "Услуги"

append content
	//- main
	- 
		var breadcrumbs = [
			[
				'Главная',
				'main.html'
			],
			[
				'Услуги'
			]
		]
	.page.bg-gray
		.case
			+breadcrumbs('page__breadcrumbs breadcrumbs', breadcrumbs)
			.page__title.h2.tac Услуги

	- var servicesHead = false
	- var servicesClass = '--pt0'
	include ../parts/services
	include ../parts/questions
