extend ../templates/main
append top
	- var title = "Акции"

append content
	- 
		var breadcrumbs = [
			[
				'Главная',
				'main.html'
			],
			[
				'Акции'
			]
		]

	.page.bg-gray
		.case
			+breadcrumbs('page__breadcrumbs breadcrumbs', breadcrumbs)
			.page__title.h2 Акции и скидки в центре здоровых улыбок «Доктор Стом»
	include ../parts/shares
	include ../parts/questions
