extend ../templates/main
append top
	- var title = "Установка виниров"

append content
	- 
		var breadcrumbs = [
			[
				'Главная',
				'main.html',
			],
			[
				'Установка виниров'
			]
		]


	- 
		var _hello = {
			img     : 'upload/bgs/bg-hello-veneers.jpg',
			title   : 'Установка виниров <br>с гарантией результата',
			subtitle: 'в Санкт-Петербурге',
			text    : 'На консультации мы составим подробный план лечения, ответим <br>на все вопросы и рассчитаем стоимость для вас',
			desc    : [
				[
					'Индивидуальный подбор цвета <br>виниров, согласно цвету кожи, <br>волос, глаз и пожеланиям пациента.',
					'laptiop.png',
					'laptiop --md'
				],
				[
					'Натуральность <br>и естественность улыбки <br>по форме, цвету виниров.',
					'veneer.png',
					'veneer --md'
				],
				[
					'Натуральность <br>и естественность улыбки <br>по форме, цвету виниров.',
					'smile.png',
					'smile --md'
				],
			],
		}
	- var helloDescClass = '--mt-sm'
	+hello(
		_hello.img, 
		_hello.title, 
		_hello.subtitle, 
		_hello.text,
		_hello.desc, 
		breadcrumbs,
		undefined,
		undefined
		)

	+problems('Проблемы, которые решают виниры', 'Мы можем предложить установку брекет-систем пациенту со следующими <br>патологиями и дефектами зубного ряда:', [0,1,2,3], 'Если Вы обнаружили один <br>или несколько из этих симптомов, <br>не откладывайте лечение и срочно <br>обратитесь к специалисту!', 'employees/employee-1.png', 0, 'Главный врач, 1000+ сложных <br>и успешных операций. Идейный <br>вдохновитель клиники.')

	include ../parts/types

	.price-block.bg-gray
		.case
			.price-block__title.h2.tac Наши цены на установку виниров
			.price-block__list
				.price-block__item
					.price-block__head.row
						.price-block__name Циркониевые коронки
						.price-block__count 300 ₽
					.price-block__body
						.price-block__subtitle В цену входят:
						.price-block__data.text
							ul
								li Анестезия
								li Обработка зуба
								li Снятие оттисков
								li Изготовление временной коронки
								li Фиксация постоянной корон

				.price-block__item
					.price-block__head.row
						.price-block__name Циркониевые коронки
						.price-block__count 300 ₽
					.price-block__body
						.price-block__subtitle В цену входят:
						.price-block__data.text
							ul
								li Анестезия
								li Обработка зуба
								li Снятие оттисков
								li Изготовление временной коронки
								li Фиксация постоянной корон
			- var nowInputBgColor = '--bg-gray'
			+now('price-block__now now --white', 'employees/employee-4.png')

	- var orderTitle = 'Не знаете какие вам <br>нужны виниры?'
	include ../parts/order
	include ../parts/transparency
	include ../parts/portfolio

	+process('Как проходит процесс установки <br>керамических виниров', [0,1,2,3,4])

	- var whyList = [9, 2, 10, 6, 7, 11, 3, 1, 4]
	include ../parts/why

	- var willHealTitle = 'Ваши зубы <br>будут лечить'
	- var willHealClass = 'bg-gray'
	- var teamItemClass = ''
	include ../parts/will-heal

	include ../parts/reviews

	include ../parts/questions
