.about
	.case
		.about__wrap.row
			.about__content
				+breadcrumbs('about__bredcrumbs bredcrumbs', breadcrumbs)
				.about__title.h2 О клинике #[br]Доктор Стом
				.about__subtitle.h3 Здравствуйте, меня зовут Улькина Татьяна #[br]Андреевна, я главный врач и основатель #[br]центра здоровых улыбок «Доктор Стом», #[br]давайте расскажу Вам о нашей клинике:
				.about__desc В нашей клинике пациенты получают лечение зубов по самым современным технологиям в условиях комфорта и заботы.
				.about__text.text
					ul.--icon
						li Мы предлагаем только те методики, которые предлагали бы себе #[br]и своим близким. Наша задача- выстроить с пациентом #[br]доверительные дружеские отношения, ведь ваша благодарность #[br]и отзывы- лучшая мотивация для нас. 
					p.--pl #[strong Мы рады предоставлять услуги и сервис европейского уровня каждому пациенту клиники «Доктор Стом»]
			.about__persona.persona.--tatyana-ylkina-lg
				.persona__text
					.persona__title Татьяна Улькина
					.persona__desc Глав. врач клиники
				.persona__img
					+img('employees/employee-7.png')
