.braces.bg-blue.c-white
	.case
		.braces__title.h2.tac Виды брекет-систем, #[br]которые мы устанавливаем
		.braces__list.row
			.braces__item
				.braces__img.img(style="background-image: url('upload/braces/braces-1.png')")
				.braces__text
					.braces__name Лингвальные брекеты
					.braces__desc Невидимая система, которая <br>крепится с внутренней <br>стороны зубов
			.braces__item
				.braces__img.img(style="background-image: url('upload/braces/braces-2.png')")
				.braces__text
					.braces__name Трейнеры, элайнеры, <br>пластинки
					.braces__desc Съемные конструкции <br>при легких ситуациях
			.braces__item
				.braces__img.img(style="background-image: url('upload/braces/braces-3.png')")
				.braces__text
					.braces__name Металлические брекеты
					.braces__desc Классические системы, <br>применяемые при сложных <br>ситуациях
			.braces__item
				.braces__img.img(style="background-image: url('upload/braces/braces-4.png')")
				.braces__text
					.braces__name Керамические <br>и сапфировые брекеты
					.braces__desc Конструкции, которые <br>сливаются с цветом зубов
