if certificatesBgGray == true
	- var certificatesClass = 'bg-gray'
.certificates(class=certificatesClass)
	.case
		.certificates__wrap.row.i-mid
			.certificates__list
				.certificates__item #[div.img(data-src="upload/certificates/certificate-1.jpg" data-fancybox="" style="background-image: url('upload/certificates/certificate-1.jpg')")]
				.certificates__item #[div.img(data-src="upload/certificates/certificate-2.jpg" data-fancybox="" style="background-image: url('upload/certificates/certificate-2.jpg')")]
				.certificates__item #[div.img(data-src="upload/certificates/certificate-1.jpg" data-fancybox="" style="background-image: url('upload/certificates/certificate-1.jpg')")]
				.certificates__item #[div.img(data-src="upload/certificates/certificate-2.jpg" data-fancybox="" style="background-image: url('upload/certificates/certificate-2.jpg')")]

			.certificates__content
				.certificates__title.h2 Наши лицензии #[br]и сертификаты
				.certificates__text
					p ООО "Прогрессия" ﻿ 
					p #[strong ИНН:] 7801497362 
					p #[strong КПП:] 781601001
					p #[strong Юр. адрес:] г. Санкт-Петербург, ул.Турку #[br]д. 13 корп.1 лит.А пом. 17Н
					p Лицензия №11-11-11 от 23.09.2019
				.certificates__chevrons.chevrons.--gray.--sm
			+swipe('certificates__swipe', 'Проведите в сторону, чтобы <br>посмотреть другие документы')
