.certs.bg-blue
	.case
		.certs__title.h2.tac.c-white Дипломы и сертификаты #[br]специалистов
		.certs__list.chevrons.--white
			.certs__item #[.img(data-fancybox="" data-src="upload/certificates/certificate-1.jpg" style="background-image: url('upload/certificates/certificate-1.jpg')")]
			.certs__item #[.img(data-fancybox="" data-src="upload/certificates/certificate-2.jpg" style="background-image: url('upload/certificates/certificate-2.jpg')")]
			.certs__item #[.img(data-fancybox="" data-src="upload/certificates/certificate-1.jpg" style="background-image: url('upload/certificates/certificate-1.jpg')")]
			.certs__item #[.img(data-fancybox="" data-src="upload/certificates/certificate-2.jpg" style="background-image: url('upload/certificates/certificate-2.jpg')")]
			.certs__item #[.img(data-fancybox="" data-src="upload/certificates/certificate-1.jpg" style="background-image: url('upload/certificates/certificate-1.jpg')")]
			.certs__item #[.img(data-fancybox="" data-src="upload/certificates/certificate-1.jpg" style="background-image: url('upload/certificates/certificate-1.jpg')")]
			.certs__item #[.img(data-fancybox="" data-src="upload/certificates/certificate-2.jpg" style="background-image: url('upload/certificates/certificate-2.jpg')")]
			.certs__item #[.img(data-fancybox="" data-src="upload/certificates/certificate-1.jpg" style="background-image: url('upload/certificates/certificate-1.jpg')")]
			.certs__item #[.img(data-fancybox="" data-src="upload/certificates/certificate-2.jpg" style="background-image: url('upload/certificates/certificate-2.jpg')")]
			.certs__item #[.img(data-fancybox="" data-src="upload/certificates/certificate-1.jpg" style="background-image: url('upload/certificates/certificate-1.jpg')")]
		+swipe('certs__swipe', 'Проведите в сторону, чтобы <br>посмотреть все дипломы')
