if clinicBgGray == true
	- var clinicClass = 'bg-gray'
.clinic(class=clinicClass)
	.case
		.clinic__title.h2.tac Комфорт пациентов на первом месте
		.clinic__subtitle.h3.tac Интерьер клиники максимально продуман, чтобы #[br]Вы чувствовали себя максимально комфортно
		.clinic__list.row
			.clinic__item
				.clinic__img
					+img('comfort/comfort-1.png')
				.clinic__text В потолке лечебных кабинетов висит телевизор, чтобы во время лечения Вы могли отвлечься от процедуры
			.clinic__item
				.clinic__img
					+img('comfort/comfort-2.png')
				.clinic__text Выдаём пледы и завариваем #[br]вкусный кофе
			.clinic__item
				.clinic__img
					+img('comfort/comfort-3.png')
				.clinic__text Приборы гигиены: щетки, пасты в каждой уборной чтобы Вы смогли подготовиться к приёму
			.clinic__item
				.clinic__img
					+img('comfort/comfort-4.png')
				.clinic__text В каждом кабинете компьютерный прицельный рентгент аппарат, чтобы Вы не тратили время на хождение #[br]по кабинетам
		.clinic__imgs.imgs
			.imgs__list.chevrons.--gray
				.imgs__list-item #[.img(data-src="upload/clinic-1.jpg" data-fancybox="clinic" style="background-image: url('upload/clinic-1.jpg')")]
				.imgs__list-item #[.img(data-src="upload/clinic-1.jpg" data-fancybox="clinic" style="background-image: url('upload/clinic-1.jpg')")]
				.imgs__list-item #[.img(data-src="upload/clinic-1.jpg" data-fancybox="clinic" style="background-image: url('upload/clinic-1.jpg')")]
				.imgs__list-item #[.img(data-src="upload/clinic-1.jpg" data-fancybox="clinic" style="background-image: url('upload/clinic-1.jpg')")]
				.imgs__list-item #[.img(data-src="upload/clinic-1.jpg" data-fancybox="clinic" style="background-image: url('upload/clinic-1.jpg')")]
				.imgs__list-item #[.img(data-src="upload/clinic-1.jpg" data-fancybox="clinic" style="background-image: url('upload/clinic-1.jpg')")]
			.imgs__nav
				.imgs__nav-item #[.img(style="background-image: url('upload/clinic-1.jpg')")]
				.imgs__nav-item #[.img(style="background-image: url('upload/clinic-1.jpg')")]
				.imgs__nav-item #[.img(style="background-image: url('upload/clinic-1.jpg')")]
				.imgs__nav-item #[.img(style="background-image: url('upload/clinic-1.jpg')")]
				.imgs__nav-item #[.img(style="background-image: url('upload/clinic-1.jpg')")]
				.imgs__nav-item #[.img(style="background-image: url('upload/clinic-1.jpg')")]
		+swipe('clinic__swipe', 'Проведите в сторону, чтобы <br>посмотреть другие фото')
