.do.bg-gray
	.case
		.do__title.h2.tac Мы делаем все виды #[br]протезирования зубов
		.do__list
			.do__item
				.do__content
					.do__name.h3 При частичном отстутвии зубов
					.do__text
						ul
							li Микропротезирования #[br]винирами/ультранирами
							li Микропротезирование #[br]керамической ﻿вкладкой (Inlay)
							li Протезирование коронками
				.do__img
					+img('prosthetics/prosthetics-1.png')
			.do__item
				.do__content
					.do__name.h3 При частичном отстутвии зубов
					.do__text
						ul
							li Имплантация
							li Мостовидный протез
							li Адгезивный протез
				.do__img
					+img('prosthetics/prosthetics-2.png')
			.do__item
				.do__content
					.do__name.h3 При полном или практически полном отсутствии зубов
					.do__text
						ul
							li Протез Акри-Фри
							li Протез Ивокап
							li Покрывной протез на имплантах
							li Бюгельный протез
							li Акриловый протез
							li Все зубы за 1 день «Всё на 4-х» 
				.do__img
					+img('prosthetics/prosthetics-3.png')
