.do.bg-gray
	.case
		.do__title.h2.tac Мы делаем все виды #[br]протезирования зубов
		.do__list
			.do__item
				.do__content
					.do__name.h3 При частичном отстутвии зубов
					.do__text
						ul
							li 
								span Микропротезирования #[br]винирами/ультранирами
								+icon('check')
							li 
								span Микропротезирование #[br]керамической ﻿вкладкой (Inlay)
								+icon('check')
							li 
								span Протезирование коронками
								+icon('check')
				.do__img
					+img('prosthetics/prosthetics-1.png')
			.do__item
				.do__content
					.do__name.h3 При частичном отстутвии зубов
					.do__text
						ul
							li 
								span Имплантация
								+icon('check')
							li 
								span Мостовидный протез
								+icon('check')
							li 
								span Адгезивный протез
								+icon('check')
				.do__img
					+img('prosthetics/prosthetics-2.png')
			.do__item
				.do__content
					.do__name.h3 При полном или практически полном отсутствии зубов
					.do__text
						ul
							li 
								span Протез Акри-Фри
								+icon('check')
							li 
								span Протез Ивокап
								+icon('check')
							li 
								span Покрывной протез на имплантах
								+icon('check')
							li 
								span Бюгельный протез
								+icon('check')
							li 
								span Акриловый протез
								+icon('check')
							li 
								span Все зубы за 1 день «Всё на 4-х» 
								+icon('check')
				.do__img
					+img('prosthetics/prosthetics-3.png')
		+swipe('do__swipe', 'Проведите в сторону, чтобы <br>посмотреть все виды протезирования')
