footer.footer
	+panel('footer__top panel')
	.footer__body
		.case
			.footer__body-wrap.row
				.footer__nav
					ul
						li
							a(href="")
						li
							a(href="")
						li
							a(href="")
						li
							a(href="")
						li
							a(href="")
						li
							a(href="")
						li
							a(href="")
						li
							a(href="")
						li
							a(href="")
						li
							a(href="")
						li
							a(href="")
				.footer__socials.socials
					ul
						li
							a(href="")
						li
							a(href="")
						li
							a(href="")
	.footer__bottom
		.case
			.footer__bottom-wrap.row
				.footer__data
					.footer__text
					.footer__links
						ul
							li
								a(href="")
				.footer__requisits
					ul
						li
						li
						li
				.footer__contacts
					ul
						li
						li
						li

				a.footer__dev.dev(href="")
					.dev__img
						+img()
					.dev__title


.popup.--lg.bg-gray#popup-
	.popup__close
	.popup__wrap.row
		.popup__content
			.popup__title.h2
			.popup__subtitle.h4
			.popup__form.form
				.form__item.form__input.input.--bg-gray.--lg.--icon.--w-md.--mlr-md.--name
					label.input__title
					.input__wrap
						input.input__area(type="text" name="name" value="")
						label.input__icon
				.form__item.form__input.input.--bg-gray.--lg.--icon.--w-md.--mlr-md.--phone
					label.input__title
					.input__wrap
						input.input__area(type="tel" name="phone" value="")
						label.input__icon
				button.form__item.form__btn.btn.--bg-blue.--lg.--mlr-md
				.form__item.form__checkbox.checkbox.check.--lg.--mlr-md
					input.checkbox__input(type="checkbox" name="policy" checked="checked")
					label.checkbox__label Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь #[a(href="upload/policy.pdf") с политикой конфиденциальности].
		.popup__img
			+img('')
