footer.footer
	+panel('footer__top panel')
	.footer__body
		.case
			.footer__body-wrap.row
				.footer__nav
					ul
						li
							a(href="") Цены
 
						li
							a(href="") Отзывы
						li
							a(href="") О клинике

						li
							a(href="") Контакты
						li
							a(href="") Врачи

						li
							a(href="") Работы
						li
							a(href="") Лечение зубов
						li
							a(href="") Протезирование зубов
						li
							a(href="") Имплантация
						li
							a(href="") Детская стоматология
						li
							a(href="") Ортодонтия
				.footer__socials.socials
					ul
						li
							a(href="")
								+icon('facebook')
						li
							a(href="")
								+icon('instagram')
						li
							a(href="")
								+icon('vk')
	.footer__bottom
		.case
			.footer__bottom-wrap.row
				.footer__data
					.footer__text
						p Вся информация, размещенная на сайте, носит информационный характер и не является публичной оффертой. 
						p Все содержимое данного сайта является интеллектуальной собственностью компании ООО «Прогрессия». 
						p Имеются противопоказания, необходима консультация специалиста.
					.footer__links
						ul
							li
								a(href="") Политика конфиденциальности
							li
								a(href="") Пользовательское соглашение

				.footer__requisits
					ul
						li ООО"Прогрессия" 
						li ИНН:7801497362
						li КПП:781601001
				.footer__contacts
					p ﻿Юр. адрес: г. Санкт-Петербург, #[br]ул.Турку д.13 корп.1 лит.А пом. 17Н #[br]Лицензия №11-11-11 от 23.09.2019

				a.footer__dev.dev(href="")
					.dev__img
						+img('polovinkin.png')
					.dev__title Разработка и продвижение сайта


.popup.--lg.bg-gray#popup-
	.popup__close
	.popup__wrap.row
		.popup__content
			.popup__title.h2
			.popup__subtitle.h4
			.popup__form.form
				.form__item.form__input.input.--bg-gray.--lg.--icon.--w-md.--mlr-md.--name
					label.input__title
					.input__wrap
						input.input__area(type="text" name="name" value="")
						label.input__icon
				.form__item.form__input.input.--bg-gray.--lg.--icon.--w-md.--mlr-md.--phone
					label.input__title
					.input__wrap
						input.input__area(type="tel" name="phone" value="")
						label.input__icon
				button.form__item.form__btn.btn.--bg-blue.--lg.--mlr-md
				.form__item.form__checkbox.checkbox.check.--lg.--mlr-md
					input.checkbox__input(type="checkbox" name="policy" checked="checked")
					label.checkbox__label Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь #[a(href="upload/policy.pdf") с политикой конфиденциальности].
		.popup__img
			+img('')
