.full.bg-gray
	.case
		.full__title.h2.tac Стоимость имплантации #[br]«под ключ» в Санкт-Петербурге
		.full__subtitle.h3.tac 4 варианта имплантации
		.full__list.row
			.full__item
				.full__wrap
					.full__img
						+img('logos/logo-anyone.png')
					.full__name Система Anyone
					.full__country
						+img('flags/flag-cr.svg')
						span Корея
					.full__data
						ul
							li
								u Цена за 1 имплант с установкой ﻿
								strong 20 000 ₽

							li
								u Коронка с установкой
								strong 25 000 ₽
							li
								u Гарантия на работу
								strong 5 лет
							li
								u Гарантия на изделие
								strong 15 лет
							li
								u Имплантация ﻿за 1 день
								strong
									+icon('check')
							li
								u Возможность сразу кушать
								strong
									+icon('check')
							li
								u Время приживление #[br]к кости
								strong Ускоренное
					.full__price
						.full__price-title Цена под ключ коронка+имплант:
						.full__price-count 45 000 ₽
				a.full__btn.btn.--bg-blue.--lg() Записаться на консультацию
				.full__desc Консультация врача бесплатно

			.full__item
				.full__wrap
					.full__img
						+img('logos/logo-ankylos.png')
					.full__name Система Ankylos
					.full__country
						+img('flags/flag-de.svg')
						span Германия
					.full__data
						ul
							li
								u Цена за 1 имплант с установкой ﻿
								strong 30 000 ₽


							li
								u Коронка с установкой
								strong 30 000 ₽


							li
								u Гарантия на работу
								strong  5 лет
							li
								u Гарантия на изделие
								strong  15 лет
							li
								u Имплантация ﻿за 1 день
								strong
									+icon('check')
							li
								u Возможность сразу кушать
								strong
									+icon('check')
							li
								u Время приживление #[br]к кости
								strong Ускоренное
					.full__price
						.full__price-title Цена под ключ коронка+имплант:
						.full__price-count 45 000 ₽
				a.full__btn.btn.--bg-blue.--lg() Записаться на консультацию
				.full__desc Консультация врача бесплатно

			.full__item
				.full__wrap
					.full__img
						+img('logos/logo-impro.png')
					.full__name Система Impro
					.full__country
						+img('flags/flag-de.svg')
						span Германия
					.full__data
						ul
							li
								u Цена за 1 имплант с установкой ﻿
								strong 25 000 ₽


							li
								u Коронка с установкой
								strong 25 000 ₽


							li
								u Гарантия на работу
								strong  5 лет
							li
								u Гарантия на изделие
								strong  15 лет
							li
								u Имплантация ﻿за 1 день
								strong
									+icon('check')
							li
								u Возможность сразу кушать
								strong
									+icon('check')
							li
								u Время приживление #[br]к кости
								strong Ускоренное
					.full__price
						.full__price-title Цена под ключ коронка+имплант:
						.full__price-count 45 000 ₽
				a.full__btn.btn.--bg-blue.--lg() Записаться на консультацию
				.full__desc Консультация врача бесплатно

						
