
.m-panel
	.case
		.m-panel__wrap.row.i-mid
			.m-panel__btn.btn.--hum
				span
				span
				span
			a.m-panel__logo.logo(href="main.html")
				+img('logo.png')
			a.m-panel__btn.btn.--call(href="tel:+78121111111")
				+icon('phone-thin')
header.header
	+panel('header__panel panel')

	nav.header__nav.nav
		.case
			.nav__list
				ul
					li
						a(href="main.html") Главная
					li
						a(href="services.html") Услуги
						ul
							li
								a(href="children.html") Детская стоматология
							li
								a(href="bite-correction.html") Исправление прикуса
							li
								a(href="implantation.html") Имплантация зубов
							li
								a(href="veneers.html") Установка виниров
							li
								a(href="treatment.html") Лечение зубов
							li
								a(href="prosthetics.html") Протезирование зубов
					li
						a(href="about-us.html") О клинике
					li
						a(href="doctors.html") Врачи
					li
						a(href="price.html") Цены
					li
						a(href="reviews.html") Отзывы
					li
						a(href="shares.html") Акции
					li
						a(href="contacts.html") Контакты
