.help.bg-gray
	.case
		.help__title.h2.tac Мы обязательно поможем, если
		.help__list.row
			+help-item('help/help-1.png', 'На молочных зубах <br>появились пятнышки')
			+help-item('help/help-2.png', 'Появился налет, который <br>не удаляется зубной щеткой')
			+help-item('help/help-3.png', 'Ребенок боится <br>лечить зубы')
			+help-item('help/help-4.png', 'Не появился постоянный <br>зуб на месте молочного')
			+help-item('help/help-5.png', 'Заболел <br>или разрушился зуб')
			+help-item('help/help-6.png', 'Десна <br>покраснела')
			+help-item('help/help-7.png', 'Зубы растут <br>неровно')
