.implant.bg-blue.c-white
	.case
		.implant__wrap.row
			.implant__content
				.implant__title.h2 Что входит #[br]в имплантацию #[br]«под ключ»
			.implant__list
				.implant__item
					.implant__img-wrap
						.implant__img
							+img('implant-block/implant-block-1.png')
							.implant__count 01
					.implant__text
						.implant__name.h3 Установка коронки
						.implant__desc Включает снятие слепков, изготовление #[br]и фиксацию коронки из металлокерамики, #[br]работу врача-ортопеда высшей категории.


				.implant__item
					.implant__img-wrap
						.implant__img
							+img('implant-block/implant-block-2.png')
							.implant__count 02
					.implant__text
						.implant__name.h3 Установка абатмента
						.implant__desc Абатмент обеспечивает лучшее крепление #[br]коронки благодаря индивидуальной форме.

				.implant__item
					.implant__img-wrap
						.implant__img
							+img('implant-block/implant-block-3.png')
							.implant__count 03
					.implant__text
						.implant__name.h3 Формирование десны
						.implant__desc Установка формирователя помогает #[br]подготовить десну к успешной установке#[br]будущего искусственного зуба.

				.implant__item
					.implant__img-wrap
						.implant__img.--shadow
							+img('implant-block/implant-block-4.png')
							.implant__count 04
					.implant__text
						.implant__name.h3 Установка импланта
						.implant__desc Включена стоимость импланта, работа #[br]врача-хирурга высшей категории и все #[br]необходимые материалы.

