.implants
	.case
		.implants__title.h2.tac Какие виды имплантации мы делаем
		.implants__list.row
			.implants__item
				.implants__img
					+img('implants/implant-1.png')
				.implants__content
					.implants__name.h3 Одномоментная #[br]имплантация
					.implants__desc Метод, при котором выполняется #[br]установка импланта одновременно #[br]с удалением зуба.
					.implants__text.text
						h4 Кому подходит:
						ul
							li Есть один или несколько зубов, которые #[br]требуют удаления

							li После удаления планируется сразу #[br]восстановить зубы﻿
							li Перед имлантацией обязательна #[br]предварительная диагностика #[br]с планированием будущей позицией #[br]импланта
			.implants__item
				.implants__img
					+img('implants/implant-2.png')
				.implants__content
					.implants__name.h3 Классическая #[br]имплантация
					.implants__desc Метод установки зубных имплантов #[br]на место отсутствующих зубов, процесс #[br]приживления имплантов занимает 2-4 #[br]месяцев с последующей установкой коронок
					.implants__text.text
						h4 Кому подходит:
						ul
							li Отсутствует один или несколько зубов
							li Зуб(ы) удалены давно или недавно
							li Перед имлантацией обязательна #[br]предварительная диагностика #[br]с планированием будущей позицией #[br]импланта
			.implants__item
				.implants__img
					+img('implants/implant-3.png')
				.implants__content
					.implants__name.h3 Имплантация All-on-4 #[br]и All-on-6
					.implants__desc Протезирование по технологии #[br]All-on-4 и All-on-6 — идеальный метод #[br]восстановления зубов для пациентов #[br]с полной адентией.
					.implants__text.text
						h4 Кому подходит:
						ul
							li Отсутствуют все зубы на одной #[br]или обеих челюстях
							li Недостаток костной ткани
							li Нежелание проводить костную пластику #[br]или синус-лифтинг в боковых сегментах
		+swipe('implants__swipe', 'Проведите в сторону, чтобы <br>посмотреть все виды имплантации')
