.portfolio
	.case
		.portfolio__head
			.portfolio__title.h2 Наши работы
			.portfolio__arrows.arrows.--gray
		.portfolio__body
			.portfolio__list
				.portfolio__item
					.portfolio__content
						.portfolio__text
							h3 С чем обратились
							p Пациентка обратилась с жалобами на темный цвет зубов, их неправильное положение и большие старые реставрации, изменённые в цвете. По личным соображениям пациентка отказалась от ортодонтии. 
							h3 решение
							p Принято решение и проведено микропротезирование керамическими винирами emax цвет BL3, в результате получена красивая улыбка с ровными белыми зубами.
						a.portfolio__btn.btn.--bg-blue.--lg() Записаться на консультацию
					.portfolio__imgs
						.portfolio__img-wrap
							.portfolio__img(style="background-image: url('upload/portfolio/portfolio-1-1.jpg')")
						.portfolio__img-wrap
							.portfolio__img.--blur(style="background-image: url('upload/portfolio/portfolio-1-2.jpg')")
							.portfolio__show.show
								.show__icon
									+icon('click')
								.show__title Нажмите чтобы увидеть фото “До”
