.portfolio(class=portfolioClass)
	.case
		.portfolio__head.row.i-mid
			.portfolio__title.h2 Наши работы
			.portfolio__arrows.chevrons.--gray.--md
		.portfolio__body
			.portfolio__list
				mixin pi(before, after, text)
					.portfolio__item(class=portfolioItemClass)
						.portfolio__content
							.portfolio__text!= text
							a.portfolio__btn.btn.--bg-blue.--shadow-blue.--lg(data-fancybox data-src="#popup-consult" href="javascript:;") Записаться на консультацию
						.portfolio__imgs
							.portfolio__img-wrap
								.portfolio__img.img(style="background-image: url('upload/portfolio/"+after+"')")
							.portfolio__img-wrap
								.portfolio__img.img.--blur(style="background-image: url('upload/portfolio/"+before+"')")
								.portfolio__show.show
									.show__icon
										+icon('click')
									.show__title Нажмите чтобы увидеть фото “До”
				if _portfolio
					each pi in _portfolio
						+pi(pi[1], pi[0], pi[2])
				
			+swipe('portfolio__swipe', 'Проведите в сторону, чтобы <br>посмотреть другие работы')
