.price-list.tabs
	.case
		if priceListTitle != undefined
			.price-list__title.h2.tac!= priceListTitle
		.price-list__wrap
			if priceListShow != false
				- var i = 1
				- var parsePrice
				if price != undefined
					- var parsePrice = price
				else
					- var parsePrice = _prices
				.price-list__nav.tabs-nav
					ul
						li
							a(href="#price-list-item-all") Все услуги
						each priceItem in parsePrice
							li
								a(href="#price-list-item-" + i)= priceItem[0]
							- i++
				+swipe('price-list__nav-swipe', 'Проведите в сторону, чтобы <br>посмотреть все услуги')
			.price-list__list.tabs-list#price-list
				- var i = 1
				each priceItem in parsePrice
					+price-item(i, priceItem[0], priceItem[1])
					- i++


	
