.price-list.tabs
	.case
		.price-list__wrap
			if priceListShow != false
				.price-list__nav.tabs-nav
					ul
						li
							a(href="#price-list-item-all") Все услуги
						li
							a(href="#price-list-item-2") Диагностика и консультация  
						li
							a(href="#price-list-item-3") Отбеливание
						li
							a(href="#price-list-item-4") Чистка
						li
							a(href="#price-list-item-5") Имплантация
						li
							a(href="#price-list-item-6") Ортопедия
						li
							a(href="#price-list-item-7") Хирургия
						li
							a(href="#price-list-item-8") Костная пластика
						li
							a(href="#price-list-item-9") Пародонтология
						li
							a(href="#price-list-item-10") Ортодонтия
						li
							a(href="#price-list-item-11") Детская стоматология

			.price-list__list
				- var i = 1
				- var parsePrice
				if price != undefined
					- var parsePrice = price
				else
					- var parsePrice = _prices
				each priceItem in parsePrice
					+price-item(i, priceItem[0], _prices[0][1])


	
