if qualificationBgGray == true
	- var qualificationClass = 'bg-gray'
.qualification(class=qualificationClass)
	.case
		.qualification__wrap.row
			.qualification__content
				.qualification__title.h2 Каждый сотрудник регулярно повышает квалификацию
				.qualification__subtitle.h3 Все врачи проходят обучение у ведущих лекторов России и Мира, что позволяет внедрять в практику самые современные и эффективные методики стоматологического лечения.
			.qualification__worker
				.qualification__worker-img
					+img('worker-qualification.png')
				.qualification__worker-up
					+icon('arrow-up')
