.questions.img(style="background-image: url('upload/bgs/bg-questions.jpg')")
	.case
		.questions__wrap
			.questions__content
				.questions__title.h2 У вас остались вопросы?
				.questions__text.h3 Оставьте контактные данные, в ближайшее время #[br]администратор свяжется и ответит на все вопросы
				form.questions__form.form.row.i-bottom.--mlr-md
					.form__item.form__textarea.textarea.--bg-white.--lg.--w-lg.--mlr-md
						label.textarea__title Ваш вопрос:
						.textarea__wrap
							textarea.textarea__area(name="question" value="" placeholder="Удаляете ли кисту?")
					.form__item.form__input.input.--bg-white.--lg.--icon.--w-md.--mlr-md.--name
						label.input__title Ваше имя
						.input__wrap
							input.input__area(type="text" name="name" value="" placeholder="Мария Алексеевна")
							label.input__icon
								+icon('user')
					.form__item.form__input.input.--bg-white.--lg.--icon.--w-md.--mlr-md.--phone
						label.input__title Ваш номер телефона:
						.input__wrap
							input.input__area(type="tel" name="phone" value="" placeholder="+7 (495) 123-45-67")
							label.input__icon
								+icon('phone-gray')
					button.form__item.form__btn.btn.--bg-blue.--shadow-blue.--lg.--w-md.--mlr-md Записаться на консультацию
					.form__item.form__checkbox.checkbox.check.--sm.--w-md.--mlr-md
						input.checkbox__input(type="checkbox" name="policy" checked="checked")
						label.checkbox__label Нажимая на кнопку, вы даете согласие #[br]на обработку своих персональных данных #[br]и соглашаетесь #[a(href="upload/policy.pdf") с политикой конфиденциальности].
			.questions__img
				+img('employees/employee-4.png')
