.rating.bg-gray
	.case
		.rating__head.row.i-mid
			.rating__data
				.rating__title.h2 4,3+ рейтинг
				.rating__subtitle.h3 на независимых порталах
			.rating__desc.c-gray Нажмите на кнопку, чтобы #[br]перейти на портал и прочитать #[br]все отзывы

		.rating__body
			.rating__list
				-
					var ratings = [
						[
							'logo-yell-ru.png',
							'5',
							'5',
							'https://www.yell.ru/spb/com/doctor-stom_11972169/',
							[
								'review-yell-1.jpg',
								'review-yell-2.jpg'
							]
						],
						[
							'logo-yandex-otzivi.png',
							'4,9',
							'5',
							'https://yandex.ru/maps/org/doktor_stom/147805198084/?ll=30.390539%2C59.861119&source=wizbiz_new_text_single&z=15.12',
							[
								'review-yo-2.png',
								'review-yo-3.png',
								'review-yo-1.png',
								'review-yo-4.png',
								'review-yo-5.png',
								'review-yo-6.png',
								'review-yo-7.png',
								'review-yo-8.png',
								'review-yo-9.jpg',
								'review-yo-10.jpg',
								'review-yo-11.jpg',
								'review-yo-12.jpg',
							]
						],
						[
							'logo-zoon.png',
							'4,8',
							'5',
							'https://spb.zoon.ru/medical/klinika_doktor_stom_na_ulitse_turku/',
							[
								'review-zoon-1.jpg',
								'review-zoon-2.jpg'
							]
						],
						[
							'logo-2gis.png',
							'5',
							'5',
							'https://2gis.ru/spb/firm/70000001037329496/tab/reviews',
							[
								'review-2gis-1.jpg',
								'review-2gis-2.jpg',
								'review-2gis-3.jpg'
							]
						]
					]
				each rating in ratings
					+ri(rating[0], rating[1], rating[2], rating[3], rating[4])
			+swipe('rating__swipe', 'Проведите в сторону, чтобы <br>посмотреть все отзывы')
