.reviews
	.case
		if reviewsTitle
			.reviews__title.h2.tac!= reviewsTitle
		if reviewsSubtitle
			.reviews__subtitle.h3.tac!= reviewsSubtitle
		.reviews__videos.r-videos
			.r-videos__list.chevrons.--gray.--mid
				.r-videos__item
					a.r-videos__wrap(href="https://www.youtube.com/watch?v=kJQP7kiw5Fk" data-fancybox="")
						.r-videos__play.play-video
						.r-videos__img.img(style="background-image: url('upload/video-review.jpg')")
					.r-videos__data.row
						.r-videos__data-col.--sm
							.r-videos__data-item
								.r-videos__title Пациент
								.r-videos__text Владимир
							.r-videos__data-item
								.r-videos__title Диагноз
								.r-videos__text Кариес 14 и 15 зуба
							.r-videos__data-item
								.r-videos__title Плановый осмотр через 1 год
								.r-videos__text Всё отлично, жалоб нет
						.r-videos__data-col.--sm
							.r-videos__data-item
								.r-videos__title С чем обратился
								.r-videos__text Болел зуб при жевании
							.r-videos__data-item
								.r-videos__title Что сделали
								.r-videos__text Лечение под микроскопом
						.r-videos__data-col.--lg
							.r-videos__data-item
								.r-videos__title ОТЗЫВ КЛИЕНТА
								.r-videos__text В воскресенье очень сильно разболелся зуб, прям простреливало пол челюсти. А у меня окна выходят на эту стоматологию, и была раз на чистке. Прибежала сюда, врач сказал, что воспалился нерв. Пломбы не было, поэтому рассверлили зуб, и положили лекарство. Судя по всему помогло и нерв удалять не пришлось, только запломбировали. Спасибо Елене Николаевне за хорошую работу
				.r-videos__item
					a.r-videos__wrap(href="https://www.youtube.com/watch?v=kJQP7kiw5Fk" data-fancybox="")
						.r-videos__play.play-video
						.r-videos__img.img(style="background-image: url('upload/video-review.jpg')")
					.r-videos__data.row
						.r-videos__data-col.--sm
							.r-videos__data-item
								.r-videos__title Пациент
								.r-videos__text Владимир
							.r-videos__data-item
								.r-videos__title Диагноз
								.r-videos__text Кариес 14 и 15 зуба
							.r-videos__data-item
								.r-videos__title Плановый осмотр через 1 год
								.r-videos__text Всё отлично, жалоб нет
						.r-videos__data-col.--sm
							.r-videos__data-item
								.r-videos__title С чем обратился
								.r-videos__text Болел зуб при жевании
							.r-videos__data-item
								.r-videos__title Что сделали
								.r-videos__text Лечение под микроскопом
						.r-videos__data-col.--lg
							.r-videos__data-item
								.r-videos__title ОТЗЫВ КЛИЕНТА
								.r-videos__text В воскресенье очень сильно разболелся зуб, прям простреливало пол челюсти. А у меня окна выходят на эту стоматологию, и была раз на чистке. Прибежала сюда, врач сказал, что воспалился нерв. Пломбы не было, поэтому рассверлили зуб, и положили лекарство. Судя по всему помогло и нерв удалять не пришлось, только запломбировали. Спасибо Елене Николаевне за хорошую работу
			+swipe('r-videos__list-swipe', 'Проведите в сторону, чтобы <br>посмотреть все видео-отзывы')
		if reviewsList != false
			.reviews__list.chevrons.--gray.--mid
				+review('28 февраля 2019', 'Являюсь постоянным клиентом данной клиники. Рекомендую всем своим знакомым, друзьям. Отличные условия , персонал работает на высшем уровне . Особенно хочется отметить работу и профессионализм врача-стоматолога Евгения Городнова. Несмотря на достаточно молодой возраст -это Врач с большой буквы, неоднократно оказывал помощь ,даже в той ситуации ,где другие врачи оказались бессильны. Побольше бы таких врачей. Всему персоналу успехов и здоровья.', 'ОЛЬГА ТУВАКИНА', '', 5)
				+review('12 апреля 2020', 'Пришел в стоматологию по совету подруги. Очень болел зуб, думал нужно будет удалять. Но врач взялась за лечение. Сделала все очень аккуратно, абсолютно безболезненно и качественно. Хочу сказать огромное спасибо Склярук Елене Петровне за сохраненный зуб! Понравилось, что в клинике работают профессионалы своего дела, оборудование новое, и цены приемлемые.', 'Алексей чувашов', '', 4)
				+review('28 февраля 2019', 'Являюсь постоянным клиентом данной клиники. Рекомендую всем своим знакомым, друзьям. Отличные условия , персонал работает на высшем уровне . Особенно хочется отметить работу и профессионализм врача-стоматолога Евгения Городнова. Несмотря на достаточно молодой возраст -это Врач с большой буквы, неоднократно оказывал помощь ,даже в той ситуации ,где другие врачи оказались бессильны. Побольше бы таких врачей. Всему персоналу успехов и здоровья.', 'ОЛЬГА ТУВАКИНА', '', 3)
				+review('12 апреля 2020', 'Пришел в стоматологию по совету подруги. Очень болел зуб, думал нужно будет удалять. Но врач взялась за лечение. Сделала все очень аккуратно, абсолютно безболезненно и качественно. Хочу сказать огромное спасибо Склярук Елене Петровне за сохраненный зуб! Понравилось, что в клинике работают профессионалы своего дела, оборудование новое, и цены приемлемые.', 'Алексей чувашов', '', 2)
			+swipe('reviews__list-swipe', 'Проведите в сторону, чтобы <br>посмотреть все отзывы')
