.reviews
	.case
		if reviewsTitle
			.reviews__title.h2.tac!= reviewsTitle
		if reviewsSubtitle
			.reviews__subtitle.h3.tac!= reviewsSubtitle
		.reviews__videos.r-videos
			.r-videos__list.chevrons.--gray
				mixin rVideosData()
					.r-videos__data.row
						.r-videos__data-col.--sm
							.r-videos__data-item
								.r-videos__title Пациент
								.r-videos__text Владимир
							.r-videos__data-item
								.r-videos__title Диагноз
								.r-videos__text Кариес 14 и 15 зуба
							.r-videos__data-item
								.r-videos__title Плановый осмотр через 1 год
								.r-videos__text Всё отлично, жалоб нет
						.r-videos__data-col.--sm
							.r-videos__data-item
								.r-videos__title С чем обратился
								.r-videos__text Болел зуб при жевании
							.r-videos__data-item
								.r-videos__title Что сделали
								.r-videos__text Лечение под микроскопом
						.r-videos__data-col.--lg
							.r-videos__data-item
								.r-videos__title ОТЗЫВ КЛИЕНТА
								.r-videos__text В воскресенье очень сильно разболелся зуб, прям простреливало пол челюсти. А у меня окна выходят на эту стоматологию, и была раз на чистке. Прибежала сюда, врач сказал, что воспалился нерв. Пломбы не было, поэтому рассверлили зуб, и положили лекарство. Судя по всему помогло и нерв удалять не пришлось, только запломбировали. Спасибо Елене Николаевне за хорошую работу
				mixin video(url)
					.r-videos__item
						a.r-videos__wrap(href='https://www.youtube.com/watch?v=' + url data-fancybox="")
							.r-videos__play.play-video
							.r-videos__img.img(style="background-image: url('http://i3.ytimg.com/vi/" + url + "/hqdefault.jpg')")
						+rVideosData()

				+video('TaSGl75AbF8')
				+video('pjCMLvqELy0')
				+video('cTINBzpgVrc')
				+video('QpU69p2vSR4')
				+video('Md9rIssvxx4')
				+video('msLOUaPeAlA')
				+video('soLBeeRMnBU')
				+video('rYyyU2FttCA')
				+video('vqccH5Hhjpg')
				+video('U0rMREXJg4Y')
				+video('AwoLZqDwjyQ')
				+video('OKRsSmkjI8I')
				+video('uCaPKqwD8vE')
				+video('ooS1jqU3ioA')
				+video('nEf2HE2v7F0')

			
			+swipe('r-videos__list-swipe', 'Проведите в сторону, чтобы <br>посмотреть все видео-отзывы')
		if reviewsList != false
			.reviews__list.chevrons.--gray.--mid
				+review('28 февраля 2019', 'Отдельная благодарность Татьяне Андреевне за стабильно высокий уровень качества услуг и всегда отличное настроение. Сам хожу уже 5 год, и по моей рекомендации ходят родители и еще 5-6 друзей. Из минусов - не всегда удобный график работы, было бы отлично вечером, до 10-11.', 'Гуцул Андрей', '', 5)
				+review('28 февраля 2019', 'Выражаю огромную благодарность врачу Улькиной Татьяне Андреевне, специалист с большой буквы, ходим к ней всей семьей. Маме провели огромную работу по имплантации и последующему протезированию, мне сделали отбеливание и подарили белоснежную улыбку! Татьяна Андреевна лечит зубы совершенно безболезненно, в комфортной и приятной обстановке! Всем советую и рекомендую, если лечить зубы, то только сюда.', 'Елизавета Ялынская', '', 5)
				+review('28 февраля 2019', 'К сожалению, ранее имела негативный опыт обращения в стоматологию, поэтому выбираю врача теперь очень долго! И вот наконец-то нашла СВОЕГО - Улькину Татьяну Андреевну! Мне предстояла большая работа по имплантации, долго не решалась - а зря! Все 4 стоят уже несколько лет, коронки не отличимы от моих собственных зубов - ставила е мах.', 'Ольга Захарова', '', 5)
				+review('28 февраля 2019', 'В этой клинике седелал процедуру - отбеливание зум 4. Совсем безболезненно и результат превзошел все мои ожидания, сравнить есть с чем, пару лет назад делал отбеливание зум 3. Также мне сменили пломбу на переднем зубе под новый отбеленный цвет. Спасибо за мою улыбку!', 'Иван Соболев', '', 5)
				+review('28 февраля 2019', 'Дорогая наша Татьяна Андреевна! От всей души поздравляем с открытием клиники, мы очень ждали!! Сердечно благодарим за такой трепетный подход и душевность, вот уже много лет все мои родственники и друзья обращаются и остаются довольны! Зубы лечатся, фобии отступают, ладошки не потеют))))) желаем процветания, наша прекрасная зубная фея!!!!!', 'Одинцова Ольга', '', 5)
				+review('28 февраля 2019', 'Я большая трусиха в вопросах лечения зубов! Но в кресле Татьяны Андреевны я могу даже спать)) Она сделала мою улыбку идеальной! Эстетика, лечение - все как надо! Всегда поможет, разъяснит и предложит лучший вариант! Очень много моих знакомых и друзей доверяют ей! не реклама, советую от всего сердца!', 'Волкова Ольга', '', 5)
				+review('28 февраля 2019', 'Что может улучшит настроение женщины в любое время года?? Конечно же поход к стоматологу! Ура! Моя мечта сбылась, я нашла "своего" стоматолога - доктора Улькину Татьяну Андреевну! <br> Вам большое спасибо за прекрасную работу, огромный профессионализм и преданность своему делу.', 'Беляева Ольга', '', 5)
				//- +review('28 февраля 2019', 'Никаких слов не хватит, чтобы описать, как я сильно боялась стоматологов. На протяжении 7 лет я отрицала их существование. Это началось из-за обычного визита к врачу детской поликлинике, после чего я сказала, что больше никогда не сяду в это кресло. На 7 год моей забастовки проблем нельзя было не заметить. Улыбаясь, прикрывать лицо ладонью для меня уже стало привычкой. Меня поставили на учет из-за обострения пародонтоза. Так я прожила еще год. Сказать, что я думала об этом каждую секунду, это ничего не сказать. Все, в конечном счете, изменилось в одно утро. Я решила, что в новом учебном году хочу наконец-то чувствовать себя комфортно и улыбаться вместе со своими студентками! мне посчастливилось обратиться к доктору - Улькиной Татьяне Андреевне! Это мой спаситель! Без преувеличения! Потребовалось полгода регулярных посещений, чтобы избавиться от всех проблем. Без боли, с полным комфортом и такой доброжелательной атмосферой! БЕЗ БОЛИ!It\'s unbelievable! С учетом того, что, обратившись в обычную поликлинику , меня отказались лечить из-за сильного воспаления десен. Обратившись к Татьяне, я получила надежду и душевный покой! Я Вас люблю! Теперь вопрос о красоте и здоровье может Вас не волновать, стоит только придти к Татьяне!', 'Уткина Юлия', '', 5)
				+review('28 февраля 2019', 'Какой-то год назад в эти даты меня скручивало зубной болью, и встретила Новый я в прескверном состоянии благодарю свою волшебницу, которая вернула меня к жизни Улькину Татьяну Андреевну. Правда, ребят, Татьяна творит чудеса, если Вы ещё не нашли своего врача! И неважно, как и где Вы встретили год, берегите своё здоровье и будет вам счастье в нём', 'Леся Круглова', '', 5)
				//- +review('28 февраля 2019', 'В этот раз я ездила в Питер не только брекеты подтянуть, но и начать вставлять имплант. Я в роддом так ехать не боялась, как идти в кабинет стоматолога!!! И если бы это был кто-то, кроме Татьяны Андреевны, я бы точно развернулась перед дверью и сбежала . <br> <br> Но к Татьяне я хожу уже 4 год — от нее не убежишь!И имплант она мне вкрутила так быстро и аккуратно, что я даже завещание мысленно составить не успела. <br> Сейчас вспоминаю — Татьяна лечила мне зубы, делала чистку, вставляла керамические коронки (это так называется?), удаляла восьмерку во время беременности… Так что неудивительно, что я моталась к ней через весь город — туда стоит даже из Москвы ездить. Короче, сейчас у меня полчелюсти железа, но через полгода будет ровный, полный и красивый ряд зубов. Спасибо за это волшебнице Татьяне!', 'Екатерина', '', 5)
				+review('28 февраля 2019', 'Долгие годы я мечтала широко улыбаться, без стеснения, не прикрываясь ладонью И теперь я занялась вплотную этим вопросом. Правда пока что широко улыбаться на фото не рискую, но это дело времени. <br> В Петербурге я доооого не могла найти хорошего стоматолога, многопрофильного доктора, чтобы было не больно, не страшно, стерильно, ну и цены чтобы не закусали. <!-- Моя зубная фея Татьяна Андреевна! <br> В бое за красивые и здоровые зубки, я удалила уже три восьмерки, они же зубы мудрости в народе. А сегодня предстоит удаление четвертого зубика. И так классно идти к доктору без капли страха! Спасибо вам, Татьяна Андреевна, за уверенность в Вас и всегда отличное настроение после посещения вашего кабинета! -->', 'Маргарита Малашкевич', '', 5)
				+review('28 февраля 2019', 'Отдельная благодарность Татьяне Андреевне за стабильно высокий уровень качества услуг и всегда отличное настроение. Сам хожу уже 5 год, и по моей рекомендации ходят родители и еще 5-6 друзей. Из минусов - не всегда удобный график работы, было бы отлично вечером, до 10-11.', 'Гуцул Андрей', '', 5)
				+review('28 февраля 2019', 'Выражаю огромную благодарность врачу Улькиной Татьяне Андреевне, специалист с большой буквы, ходим к ней всей семьей. Маме провели огромную работу по имплантации и последующему протезированию, мне сделали отбеливание и подарили белоснежную улыбку! Татьяна Андреевна лечит зубы совершенно безболезненно, в комфортной и приятной обстановке! Всем советую и рекомендую, если лечить зубы, то только сюда.', 'Елизавета Ялынская', '', 5)

			+swipe('reviews__list-swipe', 'Проведите в сторону, чтобы <br>посмотреть все отзывы')
