.services.bg-gray(class=servicesClass)
	.case
		if servicesHead == true
			.services__head.row.i-mid
				.services__name
					+img('services-title-icon.png')
				.services__title.h2 Услуги стоматологии #[br]в Санкт-Петербурге
		.services__body
			.services__list
				- 
					var services = [
						[
							'Лечение ﻿зубов', 
							'3 000',
							'upload/services/services-1.png',
							'http://localhost:3000/treatment.html',
							[
								'Лечение кариеса',
								'Лечение пульпита',
								'Лечение переодонтита',
							]
						],
						[
							'Протезирование ﻿зубов', 
							'3 000',
							'upload/services/services-2.png',
							'http://localhost:3000/prosthetics.html',
							[
								'Виниры, ультраниры',
								'Коронки',
								'Импланты',
								'Съемное протезирование',
							]
						],
						[
							'Имплантация ﻿зубов', 
							'3 000',
							'upload/services/services-3.png',
							'http://localhost:3000/implantation.html',
							[
								'Установка имплантов',
								'Костная пластика',
								'Cинус-лифтинг',
							]
						],
						[
							'Эстетическая стоматология', 
							'3 000',
							'upload/services/services-4.png',
							'http://localhost:3000/veneers.html',
							[
								'Установка виниров, ультраниров',
								'Прямая реставрация',
								'Керамические накладки',
							]
						],
						[
							'Детская стоматология', 
							'3 000',
							'upload/services/services-5.png',
							'http://localhost:3000/children.html',
						],
						[
							'Ортодонтия', 
							'3 000',
							'upload/services/services-6.png',
							'http://localhost:3000/bite-correction.html',
							[
								'Лечение сустава (гнатология)',
								'Выравнивание зубов',
								'Металлические, сапфировые брекеты',
								'Капы, элайнеры',
							]
						],
						[
							'Хирургия', 
							'3 000',
							'upload/services/services-7.png',
							'http://localhost:3000/implantation.html',
							[
								'Удаление зубов',
								'Апикальная хирургия (удаление «кисты» и сохраняем зуб)',
							]
						]
					]
				each service in services
					+service(service[0], service[1], service[2], service[3], service[4])
			+swipe('services__swipe', 'Проведите в сторону, чтобы <br>посмотреть все услуги')
