.shares.bg-gray
	.case
		.shares__list.row
			- 
				var _shares = [
					[
						[
							'Скидка 10% ﻿в календарный месяц дня рождения',
							'скидка предоставляется за 2 недели до и после дня рождения. Если пациентом является ребенок до 16 лет, то скидка предоставляется если у ребенка или у одного из родителей день рождения.',
							'скидка предоставляется на цену терапевтического(кроме лечения пульпита), хирургического и ортопедического лечения. Исключением является ортодонтическое лечение.'
						],
						[
							'Профгигиена за 2500 рублей ﻿в календарный месяц дня рождения',
							'скидка предоставляется за 2 недели до и после дня рождения.',
							'Проф гигиена включает в себя обработку AirFlow, ультразвуковую чистку, полировку и фторирование.'
						],
						[
							'Плановый осмотр каждые 6 месяцев – бесплатно+скидка 500 рублей на профгигиену',
							'в течении месяца',
							'успеть все это сделать за 1 календарный месяц '
						],
						[
							'Детская стоматология: лечение кариеса каждого 3 зуба со скидкой 50%',
							'Бессрочно',
							'Терапевтическое лечение (кариес, пульпит)  каждого тертьего зуба со скидкой 50%, временных сроков нет, '
						],
						[
							'Отбеливание ZOOM4 для двоих за 42000 руб',
							'Бессрочно',
							'При заказе отбеливания ZOOM4 для двоих, наборы и каппа для домашнего отбеливания и профгигена обоим в подарок. Стоимость 42 тыс руб. Акция включает в себя четыре пятнадатиминутных цикла каждому(полный), наборы для дом отб и профгигиена (Airflow, УЗ, полировка, фторирование). Оплата вносится сразу за двоих, второй участник может провести процедуру в любое время. '
						],
						[
							'Отбеливание ZOOM QuickPro на двоих',
							'Оплата вносится сразу за двоих, второй участник может провести процедуру в любое время. ',
							'при заказе отбеливания ZOOM QuickPro для двоих, профгигена со скидкой 50% обоим. 18 тыс – отбеливание для двоих + 3 тыс – профгигиена для двоих = 21 тыс'
						],
						[
							'-50% скидка на гигиену перед установкой брекет системы',
							'Бессрочно',
							'Внесенная предоплаты за установку брекет системы.'
						],
					],
					'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, illum.',
					'Терапевтическое лечение (кариес, пульпит) каждого тертьего зуба у детей со скидкой 50%',
					'Терапевтическое лечение (кариес, пульпит) каждого тертьего зуба у детей со скидкой 50%'
				]
			- var i = 0
			each share in _shares[0]
				+shares-item(share[0], _shares[1], 'upload/shares/share-'+ i +'.jpg', share[1], share[2])
				- i++
		+swipe('shares__swipe', 'Проведите в сторону, чтобы <br>посмотреть все акции и скидки')
