.solutions.bg-gray
	.case
		.solutions__title.h2.tac Готовые решения
		.solutions__list.row
			.solutions__item
				.solutions__head.row
					.solutions__data
						.solutions__name.h3 Все зубы за 1 день
						.solutions__desc Решение при полном отсутствии #[br]зубов по швейцарской технологии #[br]«ALL-ON-4» «Всё на 4-х» #[br]или «ALL-ON-6» «Всё на 6-х»
					.solutions__img
						+img('full/full-1.png')
				
				.solutions__body
					.solutions__text.text
						h5 В цену входят:
						ul
							li 4 или 6 премиум импланта
							li Несъемный протез из композита
					.solutions__price
						.solutions__price-title Стоимость под ключ:
						.solutions__price-count.h3 От 150 000 до 260 000 ₽
					.solutions__btn.btn.--bg-blue.--shadow-blue.--lg(data-fancybox data-src="#popup-consult" href="javascript:;") Записаться на консультацию
			.solutions__item
				.solutions__head.row
					.solutions__data
						.solutions__name.h3 Имплант + коронка #[br]за 1 день
						.solutions__desc Решение при частичном #[br]отсутствии зубов.﻿
					.solutions__img
						+img('full/full-2.png')

				.solutions__body
					.solutions__text.text
						h5 В цену входят:
						ul
							li 4 премиум импланта
							li Несъемный протез из композита
					.solutions__price
						.solutions__price-title Стоимость под ключ:
						.solutions__price-count.h3 25 000 ₽
					.solutions__btn.btn.--bg-blue.--shadow-blue.--lg(data-fancybox data-src="#popup-consult" href="javascript:;") Записаться на консультацию
		+swipe('solutions__swipe', 'Проведите в сторону, чтобы <br>посмотреть все готовые решения')
