.team.bg-gray
	.case
		.team__list.row
			- var i = 0;
				each teamItem in _team
					+ti('team__item', _team[i][0], _team[i][1], _team[i][2], _team[i][3], _team[i][4], _team[i][5])
					- i++
		+swipe('team__swipe', 'Проведите в сторону, чтобы <br>посмотреть всех врачей')
