.terms
	.case
		.terms__title.h2.tac Комфортные условия
		.terms__subtitle.h3.tac для лечения зубов у детей
		.terms__list.row
			.terms__item
				.terms__img
					+img('')
				.terms__text для лечения зубов у детей
			.terms__item
				.terms__img
					+img('')
				.terms__text Специальная детская #[br]анестезия
			.terms__item
				.terms__img
					+img('')
				.terms__text Малыш дружит с доктором #[br]и привыкает к нему, любая процедура проходит #[br]без слез и уговоров
			.terms__item
				.terms__img
					+img('')
				.terms__text Есть специальная #[br]детская зона, чтобы #[br]ваш ребенок не скучал
			.terms__item
				.terms__img
					+img('')
				.terms__text Детский туалет
