.transparency
	.case
		.transparency__wrap.row
			.transparency__content
				.transparency__title.h2 Прозрачные #[br]и честные цены
				.transparency__list
					+transparency('checklist.png', '<strong>Всё включено.</strong> Цена всегда <br>озвучивается окончательная, без накруток <br>и навязывания доп. услуг.')
					+transparency('card-r.png', 'Пациенты стоматологии Доктор Стом <br>всегда знают почему, сколько и за что <br>они платят.')
					+transparency('weight.png', '<strong>Все цены мы фиксируем</strong> в плане лечения <br>и они не изменяются.')
					+transparency('pig-x.png', '<strong>Мы не экономим на качестве материалов <br>и лечения.</strong> Экономия достигается за счет <br>грамотной работы своей лаборатории <br>и поставками материалов напрямую <br>от производителей. <br>')
				a.transparency__more.btn.--bg-blue.--lg(href="") Посмотрите цены на услуги
			.transparency__director.persona.--anton-valov
				.persona__text
					.persona__title Валов Антон
					.persona__desc Директор #[br]по развитию
				.persona__img
					+img('')
