.types
	.case
		.types__title.h2.tac Какие виды виниров мы устаналиваем
		.types__list.row
			+types-item('upload/types/types-1.png', 'Композитные виниры', 'Материал: специальный композит Enamel HRi', 'Виниры создаются прямо на зубе врачом <br>стоматологом.', 
			[
				[
					'Обточка зубов',
					'cross'
				],
				[
					'Срок изготовления',
					'В день приёма'
				],
				[
					'Эстетика',
					'Хорошая'
				],
				[
					'Подходит всем',
					'check'
				]
			])
			+types-item('upload/types/types-2.png', 'Виниры E.MAX', 'Материал: керамика', 'Виниры создаются зубным техником <br>по индивидуальным слепкам', 
			[
				[
					'Обточка зубов',
					'check'
				],
				[
					'Толщина накладки',
					'0,6-1.5мм'
				],
				[
					'Срок изготовления',
					'До 10 дней'
				],
				[
					'Эстетика',
					'Лучшая'
				],
				[
					'Подходит всем',
					'check'
				]
			])
			+types-item('upload/types/types-3.png', 'Ультраниры E.MAX', 'Материал: керамика', 'Виниры создаются зубным техником <br>по индивидуальным слепкам', 
			[
				[
					'Обточка зубов',
					'cross'
				],
				[
					'Толщина накладки',
					'0,3-0,5 мм'
				],
				[
					'Срок изготовления',
					'До 5 дней'
				],
				[
					'Эстетика',
					'Лучшая'
				],
				[
					'Подходит не всем',
					'cross'
				]
			])

	
