.we.bg-gray
	.case
		.we__list.row
			.we__item
				.we__img
					+img('we/we-1.png')
				.we__text Только опытные врачи: #[br]стаж работы от 10 до 15 лет

			.we__item
				.we__img
					+img('we/we-2.png')
				.we__text Регулярно повышаем #[br]квалификацию в России, странах СНГ и за границей

			.we__item
				.we__img
					+img('we/we-3.png')
				.we__text 95% пациентов рекомендуют #[br]нас знакомым

			.we__item
				.we__img
					+img('we/we-4.png')
				.we__text Профильные специалисты #[br]во всех направлениях #[br]стоматологии
